Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

Implement code changes to enhance functionality and improve performance
  cdk.context.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Refactor sqliteSetting.ts to follow Clean Architecture principles (#360)
  cdk.context.json
  lib/scripts/sqliteSetting.ts
Due: eslint --fix, prettier --write

JRAのバッチを変更
  .github/workflows/race-schedule-batch.yml
  .github/workflows/race-schedule-jra.yml
Due: none

ファイルの更新（バッチ）
  .github/workflows/race-schedule-autorace.yml
  .github/workflows/race-schedule-boatrace.yml
  .github/workflows/race-schedule-keirin.yml
  .github/workflows/race-schedule-nar.yml
  .github/workflows/race-schedule-world.yml
  .vscode/settings.json
  prettier.config.js
Due: prettier --write

ワークフローのセットアップを改善し、出力設定の可読性を向上させました
  .github/workflows/race-schedule-nar.yml
  .github/workflows/race-schedule-world.yml
Due: none

処理がわかりにくいので修正
  lib/src/repository/implement/keirinRaceRepositoryFromStorageImpl.ts
  lib/src/utility/data/autorace/autoraceGradeType.ts
  lib/src/utility/data/keirin/keirinPlaceId.ts
  lib/src/utility/data/keirin/keirinRaceId.ts
  lib/src/utility/data/keirin/keirinRacePlayerId.ts
  lib/src/utility/data/nar/narPlaceId.ts
Due: eslint --fix, prettier --write

pnpm update
  package.json
  pnpm-lock.yaml
Due: prettier --write

ソースの修正
  lib/src/utility/data/autorace/autoraceGradeType.ts
  lib/src/utility/data/keirin/keirinPlaceId.ts
  lib/src/utility/data/keirin/keirinRaceId.ts
  lib/src/utility/data/keirin/keirinRacePlayerId.ts
  lib/src/utility/data/nar/narPlaceId.ts
Due: eslint --fix, prettier --write

レース動画をすぐに見れるように変更
  lib/src/repository/entity/jraRaceEntity.ts
Due: eslint --fix, prettier --write

レーススケジュールバッチのワークフローファイルを削除
  .github/workflows/race-schedule-batch.yml
Due: none

レースデータ取得メソッドに日付フィルタを追加
  lib/src/repository/implement/keirinRaceRepositoryFromStorageImpl.ts
Due: eslint --fix, prettier --write

テストの修正
  test/src/mock/common/baseJraData.ts
Due: eslint --fix, prettier --write

URL生成関数を追加し、レース情報と動画リンクの生成を改善
  lib/src/repository/entity/jraRaceEntity.ts
  lib/src/utility/data/url.ts
  test/src/mock/common/baseJraData.ts
Due: eslint --fix, prettier --write

sqlの更新
  lib/sql/sqliteInit.ts
  lib/sql/table/playerDataTable.ts
  lib/src/utility/sqlite.ts
  package.json
Due: eslint --fix, prettier --write

importの仕組み追加
  lib/sql/script/importPlayerData.ts
  lib/src/utility/sqlite/migrations/importCsv.ts
Due: eslint --fix, prettier --write

playerRepositoryFromSqliteImplのデータベース接続とクエリを修正
  lib/src/repository/implement/playerRepositoryFromSqliteImpl.ts
Due: eslint --fix, prettier --write

追加
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/src/repository/implement/jraPlaceRepositoryFromSqliteImpl.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
  lib/src/repository/implement/playerRepositoryFromSqliteImpl.ts
  lib/src/service/implement/playerDataService.ts
  lib/src/service/interface/IPlayerDataService.ts
  lib/src/usecase/implement/autoraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/boatraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
Due: eslint --fix, prettier --write

レースの追加
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

update: bump googleapis dependency to version 153.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove: delete unused @types/cheerio dependency from package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Implement code changes to enhance functionality and improve performance
  package.json
  pnpm-lock.yaml
Due: prettier --write

修正
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

不要な型を外す
  lib/src/repository/implement/autoracePlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/boatracePlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/jraPlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/jraRaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/keirinPlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/narPlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/narRaceRepositoryFromHtmlImpl.ts
Due: eslint --fix, prettier --write

修正
  .github/actions/linter/eslint/action.yml
Due: none

依存関係の更新スケジュールを修正し、@types/cheerio を無視する設定を追加
  .github/dependabot.yml
Due: none

Remove @types/cheerio dependency from package.json and pnpm-lock.yaml
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

cheerio.Element型の型注釈を削除
  lib/src/repository/implement/autoracePlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/boatracePlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/jraPlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/jraRaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/keirinPlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/narPlaceRepositoryFromHtmlImpl.ts
  lib/src/repository/implement/narRaceRepositoryFromHtmlImpl.ts
Due: eslint --fix, prettier --write

extract race number and distance from HTML elements; refactor related methods for clarity
  lib/src/repository/implement/jraRaceRepositoryFromHtmlImpl.ts
Due: eslint --fix, prettier --write

環境変数による処理の変更
  lib/container/gateway/htmlGatewayConfig.ts
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/src/repository/implement/jraPlaceRepositoryFromStorageImpl.ts
  lib/stack/lambda-setup.ts
Due: eslint --fix, prettier --write

Add A級レースステージ to KeirinRaceStageList and update KeirinStageMap
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

Fix formatting of A級一般 entry in KeirinStageMap
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

競輪の指定グレード・ステージリストを追加し、ステージ名マップを更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

女子競輪の最高峰レース「L級ガールズグランプリ」をステージリストに追加し、関連するマップを更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

競輪の最高峰レース「SA混合ヤンググランプリ」をステージリストに追加し、関連するマップを更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

S級アルタイル賞をステージリストに追加
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

GⅠおよびGⅡのステージリストにS級決勝を追加し、KeirinSpecifiedGradeAndStageListを更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

体裁の整え
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

S級準決勝をGⅠ、GⅡ、GⅢ、FⅠのステージリストに追加
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write
