Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Change Dependabot update schedule to weekly
  .github/dependabot.yml
Due: none

Change Dependabot update schedule to weekly (#919)
  .github/dependabot.yml
Due: none

apiパッケージのDB参照・作成処理を削除し、dbパッケージのみでDB管理するよう修正
  package.json
  packages/api/src/controller/placeController.ts
  packages/api/src/di.place.ts
  packages/api/src/repository/implement/placeRepository.ts
  packages/api/src/repository/orm/schema/place.ts
  packages/api/wrangler.toml
  packages/db/README.md
  packages/db/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

wrangler.tomlをapi用・db用で分離。各パッケージで独立管理できるよう整理
  packages/api/wrangler.toml
  packages/db/package.json
Due: prettier --write

api/package.jsonにdev:localコマンド追加（ローカルD1 DBと結合してAPI Worker起動）
  packages/api/package.json
Due: prettier --write

api側wrangler.tomlを正規化しD1バインディング追加、dev:localコマンド削除
  packages/api/package.json
  packages/api/wrangler.toml
Due: prettier --write

chore: 設定ファイルを更新し、ローカルマイグレーション用のスクリプトを追加
  .vscode/settings.json
  packages/api/package.json
  packages/api/src/di.place.ts
  packages/api/wrangler.toml
  packages/db/wrangler.toml
Due: eslint --fix, prettier --write

feat: 新しい機能を追加しました
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: workerdバージョンのlockfile混在状況を調査・整理（依存バージョンの揃え込みは未実施）
  packages/api/src/repository/mapper/placeMasterMapper.ts
  packages/api/src/repository/orm/schema/place.ts
  packages/api/src/repository/stub/courseRepositoryStub.ts
  packages/api/src/repository/stub/placeRepositoryStub.ts
  packages/api/src/repository/stub/raceRepositoryStub.ts
Due: eslint --fix, prettier --write

fix: PlaceMasterEntity未使用import削除（lintエラー対応）
  packages/api/src/repository/implement/courseRepository.ts
Due: eslint --fix, prettier --write

fix: importパス・依存整理と型エラー調査用コミット
  packages/api/src/di.race.ts
Due: eslint --fix, prettier --write

fix: CourseRepositoryStubのDI登録を削除
  packages/api/src/di.course.ts
Due: eslint --fix, prettier --write

fix: production/test環境のDB設定を追加し、.gitignoreを整理
  .gitignore
  packages/api/wrangler.toml
  packages/db/wrangler.toml
Due: none

fix: envsubstで置換できる形式に修正
  packages/api/wrangler.toml
Due: none

fix: production環境デプロイにenvsubst処理を追加
  .github/workflows/deploy-prod.yml
Due: none

feat: deploy-productionラベルでproduction環境デプロイをトリガー可能に
  .github/workflows/deploy-prod.yml
Due: none

fix: use PAT for label removal and add pull-requests permission; handle issue/PR separately
  .github/workflows/deploy-prod.yml
Due: none

fix: 環境名を修正し、productionおよびtest環境の名前を簡略化
  packages/api/wrangler.toml
Due: none

chore: document and tidy wrangler toml files; clarify CI vs local effective files
  packages/api/wrangler.effective.toml
  packages/api/wrangler.toml
  packages/db/wrangler.effective.toml
  packages/db/wrangler.toml
Due: none

chore: stop tracking effective toml and document wrangler files
  packages/api/wrangler.effective.toml
  packages/api/wrangler.toml
  packages/db/wrangler.effective.toml
  packages/db/wrangler.toml
Due: none

feat(repo): upsert into place, place_held_day, place_grade, place_master with transaction
  packages/api/src/repository/implement/placeRepository.ts
Due: eslint --fix, prettier --write

fix(repo): align PlaceRepository with DB migrations and bulk upsert
  packages/api/src/repository/implement/placeRepository.ts
Due: eslint --fix, prettier --write

placeのfetchでisDisplayPlaceGradeパラメータによるplaceGrade出し分け・locationName返却対応、PlaceDisplayDto型エラー修正
  packages/api/src/controller/placeController.ts
  packages/api/src/repository/implement/placeRepository.ts
  packages/api/src/types/searchPlaceFilter.ts
  packages/shared/src/dto/placeDisplayDto.ts
Due: eslint --fix, prettier --write

refactor: PlaceRepositoryをdbGateway+SQL+mapper方式で完全修正・壊れた構造をクリーンアップ
  packages/api/src/repository/implement/placeRepository.ts
Due: eslint --fix, prettier --write

feat(repo): PlaceMapperを追加し、PlaceRepositoryでのエンティティ変換を統一。PlaceSqlを定義し、JRAとNAR用のSQLクエリを整理。
  packages/api/src/repository/implement/placeMapper.ts
  packages/api/src/repository/implement/placeRepository.ts
  packages/api/src/repository/implement/placeSql.ts
Due: eslint --fix, prettier --write

refactor(course): PlaceMasterMapperを削除し、resultを直接型変換するように修正
  packages/api/src/repository/implement/courseRepository.ts
Due: eslint --fix, prettier --write

chore: undici, diff(jsdiff)の脆弱性対応（pnpm.overridesでバージョン強制）
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: placeRepositoryのraceType判定を型安全に修正（Set<RaceType>明示）・フラグ制御の明確化
  packages/api/src/repository/implement/placeRepository.ts
  packages/api/src/types/searchPlaceFilter.ts
Due: eslint --fix, prettier --write

feat: PlaceEntityに開催場グレードを追加
  packages/shared/src/entity/placeEntity.ts
Due: eslint --fix, prettier --write

refactor: PlaceMapperをplaceRepository.ts内に統合し、外部ファイルを不要化（lint型エラー修正）
  packages/api/src/repository/implement/placeRepository.ts
Due: eslint --fix, prettier --write

fix: PlaceEntityダミーデータにplaceGrade: undefinedを追加（型エラー修正）
  packages/api/src/repository/stub/placeRepositoryStub.ts
Due: eslint --fix, prettier --write

fix: RaceTypeのインポートパスを修正し、正しい型を参照するように変更
  packages/api/src/repository/implement/placeRepository.ts
Due: eslint --fix, prettier --write

refactor: 開催場データ取得のURL生成をswitch/caseメソッド化・型安全化、R2キャッシュkey生成の型エラー修正
  eslint.config.mjs
  package.json
  packages/scraping/package.json
  packages/scraping/src/controller/placeController.ts
  packages/scraping/src/di.ts
  packages/scraping/src/gateway/implement/R2Gateway.ts
  packages/scraping/src/gateway/implement/placeDataHtmlGateway.ts
  packages/scraping/src/gateway/interface/IR2Gateway.ts
  packages/scraping/src/index.ts
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
  packages/scraping/src/router.ts
  packages/scraping/src/router/apiRouter.ts
  packages/scraping/src/router/placeRouter.ts
  packages/scraping/src/service/placeService.ts
  packages/scraping/src/usecase/placeUsecase.ts
  packages/scraping/tsconfig.json
  packages/scraping/wrangler.toml
  packages/shared/src/types/raceType.ts
  packages/shared/src/utilities/cloudFlareEnv.ts
Due: eslint --fix, prettier --write

refactor: placeHtmlRepositoryのHTML取得ロジックを簡素化し、raceTypeのUNKNOWNを削除
  package.json
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
  packages/shared/src/types/raceType.ts
Due: eslint --fix, prettier --write

refactor: savePlaceHtmlメソッド内のkey変数の初期化を簡素化
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
Due: eslint --fix, prettier --write

feat: 開発環境でHTMLをlocal_html/place配下に物理保存する機能を追加（fs/promises, path対応）
  packages/scraping/src/gateway/implement/placeDataHtmlGateway.ts
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
Due: eslint --fix, prettier --write

refactor: extract common validation logic from controllers
  packages/api/src/controller/calendarController.ts
  packages/api/src/controller/courseController.ts
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/utilities/validation.ts
Due: eslint --fix, prettier --write

refactor: improve type safety by removing any types
  packages/api/src/controller/calendarController.ts
  packages/api/src/controller/courseController.ts
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/gateway/implement/dbGateway.ts
  packages/api/src/gateway/interface/IDBGateway.ts
  packages/api/src/repository/implement/courseRepository.ts
  packages/api/src/repository/implement/placeMapper.ts
  packages/api/src/repository/implement/placeRepository.ts
  packages/api/src/repository/types/placeRow.ts
  packages/api/src/utilities/typeGuards.ts
Due: eslint --fix, prettier --write

refactor: unify error handling across controllers
  packages/api/src/controller/calendarController.ts
  packages/api/src/controller/courseController.ts
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/utilities/errorHandler.ts
Due: eslint --fix, prettier --write

refactor: extract Entity to DTO conversion logic into mappers
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/mappers/placeMapper.ts
  packages/api/src/mappers/raceMapper.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
