Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: 関数定義をアロー関数に変更し、可読性を向上。requestParser.ts、raceRepositoryFromStorage.ts、router.ts、raceType.ts、testDecorators.tsで適用。
  src/controller/requestParser.ts
  src/repository/implement/raceRepositoryFromStorage.ts
  src/router.ts
  src/utility/raceType.ts
  test/utility/testDecorators.ts
Due: eslint --fix, prettier --write

refactor: 不要な空行を削除
  src/repository/entity/raceEntity.ts
Due: eslint --fix, prettier --write

chore: Checkingファイルを削除
  Checking
Due: none

chore: 不要なファイルと設定を削除
  bin/cdk-race-schedule-app.ts
  cdk.context.json
  cdk.json
  lib/cdk-race-schedule-app-stack.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 不要なファイルを削除し、パスを修正
  lib/src/gateway/interface/iS3Gateway.ts
  package.json
  scripts/init-db.ts
  scripts/insert_held_day_from_all_csv.ts
  scripts/insert_place_from_all_csv.ts
  scripts/insert_race_from_all_csv.ts
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/gateway/mock/mockPlaceDataHtmlGateway.ts
  src/gateway/mock/mockRaceDataHtmlGateway.ts
  src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/utility/env.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/mock/gateway/mockS3Gateway.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/utility/testDecorators.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

chore: 不要な依存関係を削除（@codegenie/serverless-express、@types/express、express、swagger-ui-express、@types/swagger-ui-express）
  package.json
Due: prettier --write

fix: Prettierチェックの対象をlibからsrcに変更、ESLintの対象ファイルからlibを削除
  .github/actions/linter/prettier/action.yml
  eslint.config.mjs
Due: prettier --write

chore: READMEとpackage.jsonを更新し、AWS関連の依存関係を削除、Cloudflare関連の情報を追加
  README.md
  package.json
Due: prettier --write

feat: プレイヤーとレースのエンティティリストの変数名を修正し、レースプレイヤーのバルク挿入機能を追加
  src/controller/playerController.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

fix: fetchRaceEntityListメソッドでplaceEntityListが空でない場合に正しくループ処理を行うよう修正
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

test: PlaceRepositoryFromStorageのfetchPlaceEntityListメソッドのユニットテストを追加
  test/unittest/repository/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

test: PlaceRepositoryFromStorageのfetchPlaceEntityListメソッドのテストケースを整理し、構造を明確化
  test/unittest/repository/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

feat: ボートレースデータの取得処理を追加
  src/repository/implement/boatraceRaceRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: RaceServiceのHTMLリポジトリの管理を簡素化し、コンストラクタから不要なコードを削除
  src/service/implement/raceService.ts
Due: eslint --fix, prettier --write

refactor: fetchRaceEntityListメソッド内の変数名を変更し、コードを簡素化
  src/service/implement/raceService.ts
Due: eslint --fix, prettier --write

feat: 海外競馬の開催データ取得メソッドを追加し、レースタイプの処理を修正 - fetchMonthPlaceEntityListForOverseasメソッドを追加 - レースタイプの処理にOVERSEASを追加 - 不要なS3からのデータ取得に関するコメントを削除し、HTMLからのデータ取得に関するコメントに変更
  src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

fix: RACE_TYPE_LIST_WITHOUT_OVERSEASを削除し、関連するテストをRACE_TYPE_LIST_ALLに更新
  src/utility/raceType.ts
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

fix: '@jest/source-map'の依存関係'@jridgewell/trace-mapping'を0.3.30から0.3.31に更新
  pnpm-lock.yaml
Due: none

fix: 不要なコメントを削除し、fetchRaceEntityListメソッドの引数を整理
  src/repository/implement/overseasRaceRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

feat: 海外競馬のレースデータ取得メソッドを追加し、レースタイプの処理を修正。不要なgenerateMonthListメソッドを削除。
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

fix: テストケースを修正し、レースタイプリストを更新。海外レースの期待値を修正。
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

test: 不要なテストアサーションを削除
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

feat: プレイヤーエンティティのモックデータとテストケースを追加
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/usecase/playerUseCase.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

feat: レースタイプに「OVERSEAS」を追加
  .github/workflows/place-schedule.yml
Due: none

feat: APIヘルスチェックの実装を改善し、結果を表示するステップを追加
  .github/workflows/place-schedule.yml
Due: none

feat: APIデータ更新のためのcurlリクエストをアクションに置き換え、ヘッダーとデータを設定
  .github/workflows/place-schedule.yml
Due: none

feat: curlリクエストを使用してレースデータを更新するステップを追加し、レスポンスチェックを実装
  .github/workflows/place-schedule.yml
Due: none

chore: eslint.config.mjsからJSDoc関連のルールを削除
  eslint.config.mjs
Due: prettier --write

refactor(mockGoogleCalendarGateway): 不要な環境設定を削除し、コードを簡素化 refactor(env): 使用されていない環境設定を削除 refactor(package.json): 不要なスクリプトを削除し、開発環境を整理
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
  lib/src/utility/env.ts
  package.json
Due: eslint --fix, prettier --write

feat: モックサービスと環境設定の追加および不要ファイルの削除
  lib/cdk-race-schedule-app-stack.ts
  lib/src/gateway/interface/iS3Gateway.ts
  package.json
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/utility/env.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/mock/gateway/mockS3Gateway.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/utility/testDecorators.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

chore: cdk-race-schedule-app.tsファイルを削除
  bin/cdk-race-schedule-app.ts
Due: eslint --fix, prettier --write

chore: lintおよびPrettierの設定を更新
  .github/actions/linter/prettier/action.yml
  eslint.config.mjs
  package.json
Due: prettier --write

refactor: eslint.config.mjsの対象ファイルを整理し、package.jsonから不要な依存関係を削除
  eslint.config.mjs
  package.json
Due: prettier --write

chore: ESLintチェックのコマンドを修正し、libディレクトリを指定しないように変更
  .github/actions/linter/eslint/action.yml
Due: none

Implement code changes to enhance functionality and improve performance
  pnpm-lock.yaml
Due: none

refactor: GoogleCalendarRepositoryのgetEventsメソッドのパラメータ名を変更し、PlaceRepositoryFromHtmlから不要なコメントを削除しました。また、RaceRepositoryFromStorageのfetchRaceEntityListメソッドを簡略化しました。
  src/repository/implement/googleCalendarRepository.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

feat: PlaceRepositoryとPlaceServiceに互換性のあるfetchPlaceEntityListV2メソッドを追加し、PlaceEntityTagged型を返すようにしました。また、関連するインターフェースを更新し、テスト用のモックを修正しました。
  src/repository/entity/placeEntities.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/interface/IPlaceRepository.ts
  src/service/implement/placeService.ts
  src/service/interface/IPlaceService.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/interface/IPlaceUsecase.ts
  test/unittest/src/mock/service/placeServiceMock.ts
Due: eslint --fix, prettier --write

feat: PlaceControllerでfetchPlaceEntityListV2メソッドを使用するように変更し、mockPlaceRepositoryに対応するモックを追加しました。また、PlaceEntityTagged型のインターフェースを更新しました。
  src/controller/placeController.ts
  src/repository/entity/placeEntities.ts
  test/unittest/src/mock/repository/mockPlaceRepository.ts
Due: eslint --fix, prettier --write

docs: translate comments to Japanese in dbGateway.ts
  src/gateway/implement/dbGateway.ts
Due: eslint --fix, prettier --write

docs: translate comments to Japanese in racePlayerData.ts
  src/domain/racePlayerData.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
