Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

refactor: extract Entity to DTO conversion logic into mappers (#935)
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/mappers/placeMapper.ts
  packages/api/src/mappers/raceMapper.ts
Due: eslint --fix, prettier --write

chore: claude/**ブランチも自動PR作成対象に追加（create_pull_request.yml統合）
  .github/workflows/create_pull_request.yml
Due: none

style: 未使用import削除（placeController/raceController）および重複PlaceMapper整理
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
Due: eslint --fix, prettier --write

fix: map等で必要な型import(PlaceEntity/RaceEntity)を復活
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
Due: eslint --fix, prettier --write

Revert "refactor: extract Entity to DTO conversion logic into mappers (#935)"
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/mappers/placeMapper.ts
  packages/api/src/mappers/raceMapper.ts
Due: eslint --fix, prettier --write

Revert "refactor: extract Entity to DTO conversion logic into mappers" (#937)
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/mappers/placeMapper.ts
  packages/api/src/mappers/raceMapper.ts
Due: eslint --fix, prettier --write

fix: set ENV variable in jest setup to prevent test failures
  jest.setup.js
Due: none

docs: スクレイピング機能のシーケンス図ドキュメントを追加
  document/detail-design/sequence/scraping/getPlaceList.md
  document/detail-design/sequence/scraping/getRaceList.md
Due: prettier --write

refactor: 不要なインポートと未使用のルートを削除
  .github/prompts/commit_push.prompt.md
  packages/scraping/src/router.ts
Due: eslint --fix, prettier --write

feat: packages/scrapingにrace関連の基本構造を追加
  packages/scraping/src/entity/raceHtmlEntity.ts
  packages/scraping/src/gateway/implement/raceDataHtmlGateway.ts
  packages/scraping/src/gateway/interface/iRaceDataHtmlGateway.ts
  packages/scraping/src/repository/implement/raceHtmlRepository.ts
  packages/scraping/src/repository/interface/IRaceHtmlRepository.ts
  packages/shared/src/utilities/createRaceUrl.ts
Due: eslint --fix, prettier --write

feat: packages/scrapingにraceスクレイピング機能を追加
  packages/scraping/src/controller/raceController.ts
  packages/scraping/src/di.ts
  packages/scraping/src/router.ts
  packages/scraping/src/service/raceService.ts
  packages/scraping/src/usecase/raceUsecase.ts
Due: eslint --fix, prettier --write

feat: migrate PlayerController to packages/api architecture
  packages/api/src/controller/playerController.ts
  packages/api/src/di.player.ts
  packages/api/src/domain/entity/filter/searchPlayerFilterEntity.ts
  packages/api/src/domain/entity/playerEntity.ts
  packages/api/src/domain/validation/playerValidation.ts
  packages/api/src/repository/implement/playerRepository.ts
  packages/api/src/repository/interface/IPlayerRepository.ts
  packages/api/src/router.ts
  packages/api/src/service/implement/playerService.ts
  packages/api/src/service/interface/IPlayerService.ts
  packages/api/src/usecase/implement/playerUsecase.ts
  packages/api/src/usecase/interface/IPlayerUsecase.ts
  src/repository/entity/filter/searchPlayerFilterEntity.ts
  src/usecase/implement/playerUsecase.ts
  src/usecase/interface/IPlayerUsecase.ts
Due: eslint --fix, prettier --write

feat: playerController関連をpackages配下に移行
  document/player-controller-migration-design.md
  packages/api/src/controller/playerController.ts
  packages/api/src/di.player.ts
  packages/api/src/domain/entity/filter/searchPlayerFilterEntity.ts
  packages/api/src/domain/entity/playerEntity.ts
  packages/api/src/repository/implement/playerRepository.ts
  packages/api/src/repository/interface/IPlayerRepository.ts
  packages/api/src/router.ts
  packages/api/src/service/implement/playerService.ts
  packages/api/src/service/interface/IPlayerService.ts
  packages/api/src/usecase/implement/playerUsecase.ts
  packages/api/src/usecase/interface/IPlayerUsecase.ts
  packages/api/src/utility/cors.ts
  packages/api/src/utility/validation.ts
  packages/db/migrations/player.sqlite.sql
  pnpm-lock.yaml
  src/di.ts
  src/repository/entity/filter/searchPlayerFilterEntity.ts
  src/router.ts
  test/unittest/src/controller/playerController.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/mock/service/playerServiceMock.ts
  test/unittest/src/mock/usecase/playerUsecaseMock.ts
  test/unittest/src/usecase/playerUseCase.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

削除: 未使用のファイルとエクスポートを削除
  src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/utility/env.ts
Due: eslint --fix, prettier --write

修正: IS_SHORT_TESTの削除に伴うテストコードの修正
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

fix: ブランチ名の規約を修正し、`feature/xxxx` から `copilot/xxxx` に変更 docs: README.mdのブランチ運用フローを更新
  .github/instructions/task.instructions.md
  README.md
Due: prettier --write

feat: スクレイピング機能の依存関係を整理し、レースデータの取得処理を改善
  packages/scraping/src/di.ts
  packages/scraping/src/repository/implement/raceHtmlRepository.ts
  packages/scraping/src/service/raceService.ts
  packages/scraping/src/usecase/raceUsecase.ts
  packages/shared/src/utilities/createRaceUrl.ts
Due: eslint --fix, prettier --write

feat: getPlaceListおよびgetRaceListのシーケンス図を更新し、主要な処理フローを整理 - パラメータバリデーション、データ取得、HTMLスクレイピング、キャッシュ戦略、外部サイトアクセスの詳細を追加 - JSONフォーマットの整形を行い、可読性を向上
  document/detail-design/sequence/scraping/getPlaceList.md
  document/detail-design/sequence/scraping/getRaceList.md
Due: prettier --write

fix: pnpm-lock.yamlを更新してCIエラーを修正
  pnpm-lock.yaml
Due: none

fix: jest.setup.jsにreflect-metadataを追加
  jest.setup.js
Due: none

feat: add race DB implementation in packages
  packages/api/src/di.race.ts
  packages/api/src/repository/implement/raceMapper.ts
  packages/api/src/repository/implement/raceRepository.ts
  packages/api/src/repository/implement/raceSql.ts
  packages/db/migrations/race.sqlite.sql
Due: eslint --fix, prettier --write

refactor: move RaceMapper into raceRepository.ts
  packages/api/src/repository/implement/raceMapper.ts
  packages/api/src/repository/implement/raceRepository.ts
  packages/api/src/repository/implement/raceSql.ts
Due: eslint --fix, prettier --write

fix: RaceRepositoryでJRAの判定方法を修正し、someメソッドからincludesメソッドに変更
  packages/api/src/repository/implement/raceRepository.ts
Due: eslint --fix, prettier --write

Add TypeScript definitions and models to @race-schedule/db package
  packages/db/.gitignore
  packages/db/README.md
  packages/db/package.json
  packages/db/src/index.ts
  packages/db/src/models/place.model.ts
  packages/db/src/models/placeGrade.model.ts
  packages/db/src/models/placeHeldDay.model.ts
  packages/db/src/models/placeMaster.model.ts
  packages/db/src/models/player.model.ts
  packages/db/src/models/race.model.ts
  packages/db/src/queries/place.queries.ts
  packages/db/src/queries/placeMaster.queries.ts
  packages/db/src/queries/player.queries.ts
  packages/db/src/queries/race.queries.ts
  packages/db/src/types/schemas.ts
  packages/db/tsconfig.json
Due: eslint --fix, prettier --write

Fix ESLint errors in @race-schedule/db package
  eslint.config.mjs
  packages/db/src/index.ts
  packages/db/src/models/place.model.ts
  packages/db/src/models/placeGrade.model.ts
  packages/db/src/models/placeHeldDay.model.ts
  packages/db/src/models/placeMaster.model.ts
  packages/db/src/models/player.model.ts
  packages/db/src/models/race.model.ts
  packages/db/src/types/schemas.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix TypeScript compilation error in player.model.ts
  packages/db/src/models/player.model.ts
Due: eslint --fix, prettier --write

Add missing updated_at trigger to player table migration
  packages/db/migrations/player.sqlite.sql
Due: none

feat(scraping): scrapingパッケージの完成 - Place/Race取得機能の実装
  packages/scraping/document/class-diagram.md
  packages/scraping/document/sequence-diagram.md
  packages/scraping/src/gateway/implement/R2Gateway.ts
Due: eslint --fix, prettier --write

refactor(scraping): UsecaseとServiceのインターフェース化とlintエラー修正
  packages/scraping/document/class-diagram.md
  packages/scraping/document/sequence-diagram.md
  packages/scraping/src/controller/placeController.ts
  packages/scraping/src/controller/raceController.ts
  packages/scraping/src/di.ts
  packages/scraping/src/service/interface/IPlaceService.ts
  packages/scraping/src/service/interface/IRaceService.ts
  packages/scraping/src/service/placeService.ts
  packages/scraping/src/service/raceService.ts
  packages/scraping/src/usecase/interface/IPlaceUsecase.ts
  packages/scraping/src/usecase/interface/IRaceUsecase.ts
  packages/scraping/src/usecase/placeUsecase.ts
  packages/scraping/src/usecase/raceUsecase.ts
Due: eslint --fix, prettier --write

fix(scraping): インターフェースのimportパスを修正
  packages/scraping/src/service/interface/IPlaceService.ts
  packages/scraping/src/service/interface/IRaceService.ts
  packages/scraping/src/usecase/interface/IPlaceUsecase.ts
  packages/scraping/src/usecase/interface/IRaceUsecase.ts
Due: eslint --fix, prettier --write

fix(scraping): PlaceControllerの型エラーを修正
  packages/scraping/src/controller/placeController.ts
Due: eslint --fix, prettier --write

refactor(scraping): DI設定の分割、ローカル環境での外部アクセス禁止、RaceType別パース処理の実装
  packages/scraping/src/di.ts
  packages/scraping/src/di/application.ts
  packages/scraping/src/di/infrastructure.ts
  packages/scraping/src/gateway/implement/placeDataHtmlGateway.ts
  packages/scraping/src/gateway/implement/raceDataHtmlGateway.ts
  packages/scraping/src/repository/interface/IPlaceHtmlRepository.ts
  packages/scraping/src/service/placeService.ts
Due: eslint --fix, prettier --write

fix(scraping): DIファイルのimportパスを修正
  packages/scraping/src/di/infrastructure.ts
Due: eslint --fix, prettier --write

feat(scraping): 全てのレース種別のパース処理を実装完了
  packages/scraping/src/service/placeService.ts
  packages/scraping/src/service/raceService.ts
Due: eslint --fix, prettier --write

Migrate from pnpm to bun
  .github/NODE_VERSION_MANAGEMENT.md
  .github/actions/linter/eslint/action.yml
  .github/actions/linter/prettier/action.yml
  .github/actions/linter/type-check/action.yml
  .github/actions/test/ita/autorace/action.yml
  .github/actions/test/ita/boatrace/action.yml
  .github/actions/test/ita/jra/action.yml
  .github/actions/test/ita/overseas/action.yml
  .github/actions/test/unit/action.yml
  .github/instructions/task.instructions.md
  .vscode/settings.json
  README.md
  bun.lock
  chatmode.md
  package.json
  packages/api/package.json
  packages/db/README.md
  packages/db/SETUP.md
  packages/db/setup-local.sh
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update remaining GitHub Actions workflows to use bun
  .github/actions/test/ita/keirin/action.yml
  .github/actions/test/ita/nar/action.yml
  .github/workflows/conditional-tests.yml
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

Fix bun workspace commands in conditional-tests.yml
  .github/workflows/conditional-tests.yml
Due: none

Fix test commands to use 'bun run test' instead of 'bun test'
  .github/workflows/conditional-tests.yml
Due: none

Add YAML schema validation for GitHub Actions
  .vscode/settings.json
Due: prettier --write
