Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: fetchRaceEntityListメソッド内のJRAレース取得処理を簡素化
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: 不要なAWS関連のコードを削除し、レースタイプのリストを整理
  eslint.config.mjs
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
  src/utility/raceType.ts
  test/integrationtest/src/usecase-service/placeUseCase-placeService.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

refactor: 不要な空行を削除し、eslint設定を整理
  eslint.config.mjs
Due: prettier --write

jsdoc/check-examplesルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/check-indentationルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/check-tag-namesルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/no-typesルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/require-descriptionルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/require-description-complete-sentenceルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/require-exampleルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/require-file-overviewルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/no-restricted-syntaxルールの削除
  eslint.config.mjs
Due: prettier --write

jsdoc/require-param-descriptionルールの削除
  eslint.config.mjs
Due: prettier --write

@typescript-eslint/no-misused-promisesルールの削除
  eslint.config.mjs
Due: prettier --write

@typescript-eslint/no-unnecessary-type-assertionルールの削除
  .github/instructions/task.instructions.md
  eslint.config.mjs
  src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

unicorn/prefer-string-sliceルールの削除
  eslint.config.mjs
Due: prettier --write

unicorn/no-abusive-eslint-disableルールの削除
  eslint.config.mjs
Due: prettier --write

chore: 不要なESLintルールのコメントアウトを削除
  eslint.config.mjs
Due: prettier --write

chore: @typescript-eslint/no-unnecessary-type-assertionルールを無効化
  eslint.config.mjs
Due: prettier --write

chore: 不必要な型アサーションのESLintルールの修正
  eslint.config.mjs
Due: prettier --write

feat: ESLint設定を更新し、any型の関数呼び出しを許可するルールを追加
  eslint.config.mjs
Due: prettier --write

mockMechanicalRacingRaceRepositoryFromHtmlの初回コミット
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
Due: eslint --fix, prettier --write

refactor: createRaceUrl関数を追加し、レースデータのURL生成を統一。不要なURL生成関数を削除。
  src/gateway/implement/raceDataHtmlGateway.ts
  src/utility/data/url.ts
Due: eslint --fix, prettier --write

refactor: 不要なconsole.logを削除し、コードをクリーンアップ
  src/repository/implement/raceRepositoryFromHtml.ts
  src/usecase/implement/calendarUseCase.ts
Due: eslint --fix, prettier --write

feat: PlaceDataHtmlGatewayおよびRaceDataHtmlGatewayのユニットテストを追加
  test/unittest/src/gateway/placeDataHtmlGateway.test.ts
  test/unittest/src/gateway/raceDataHtmlGateway.test.ts
Due: eslint --fix, prettier --write

feat: getRaceEntityListメソッドのsearchParamsのコメントを更新し、raceEntityListをentityListにリネーム。ユニットテスト用のモックとディシジョンテーブルを追加。
  src/controller/raceController.ts
  test/unittest/src/controller/raceController.test.ts
  test/unittest/src/mock/service/raceServiceMock.ts
  test/unittest/src/mock/usecase/raceUsecaseMock.ts
Due: eslint --fix, prettier --write

fix: raceServiceMockのインポートパスを修正
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

feat: RaceServiceのfetchRaceEntityListメソッドをリファクタリングし、StorageとWebからのデータ取得を分岐。launch.jsonを新規作成し、Jestテスト用のモックを修正。raceService.test.tsを追加し、fetchRaceEntityListのユニットテストを実装。
  .vscode/launch.json
  src/service/implement/raceService.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/mock/repository/mockRaceRepository.ts
  test/unittest/src/service/raceService.test.ts
Due: eslint --fix, prettier --write

fix: race-schedule.ymlのfinishDateForMechanicalRacingの設定を修正し、launch.jsonから不要な空行を削除
  .github/workflows/race-schedule.yml
  .vscode/launch.json
Due: prettier --write

feat: デバッグ用に開始日、終了日、機械レース用終了日を出力するように変更
  .github/workflows/race-schedule.yml
Due: none

feat: 機械レース用の終了日を出力に追加
  .github/workflows/race-schedule.yml
Due: none

feat: オートレースのレースタイプに優勝戦を追加し、index.tsを削除
  lib/src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/index.ts
Due: eslint --fix, prettier --write

feat: index.tsを新規作成し、依存関係をインポートしてルーターをエクスポート
  src/index.ts
Due: eslint --fix, prettier --write

feat: index.tsファイルを削除
  lib/src/index.ts
Due: eslint --fix, prettier --write

refactor: コードのコメントを改善
  src/repository/implement/raceRepositoryFromHtml.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/raceDistance.ts
Due: eslint --fix, prettier --write

refactor: 女子オールスター競輪のレース名に基づく条件分岐を簡略化
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: extractSurfaceType関数内の変数名を変更し、可読性を向上
  src/repository/implement/overseasRaceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: raceEntityListの生成ロジックを簡略化し、条件分岐を整理
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: package.jsonのwranglerデプロイスクリプトを更新し、最新のwranglerを使用するように変更。pnpm-lock.yamlで@jridgewell/trace-mappingを0.3.31にアップデート。googleCalendar.tsでAUTORACEの処理を簡略化し、KEIRINと共通の処理に統合。
  package.json
  pnpm-lock.yaml
  src/utility/googleCalendar.ts
Due: eslint --fix, prettier --write

refactor: toGoogleCalendarData関数内のリンクテキストを更新し、netkeibaを明示的に表示
  src/utility/googleCalendar.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
