Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: PR作成に関する指示を明確化し、自動作成について追記
  .github/instructions/task.instructions.md
Due: prettier --write

feat: ID生成の汎用ビルダを追加し、パラメータの整合性チェックを実装
  lib/src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

feat: IDバリデーションの統一化
  lib/src/gateway/record/heldDayRecord.ts
  lib/src/gateway/record/horseRacingRaceRecord.ts
  lib/src/gateway/record/mechanicalRacingRaceRecord.ts
  lib/src/gateway/record/placeGradeRecord.ts
  lib/src/gateway/record/placeRecord.ts
  lib/src/gateway/record/racePlayerRecord.ts
  lib/src/utility/validateAndType/idUtility.ts
  src/repository/entity/placeEntity.ts
  src/repository/entity/raceEntity.ts
  test/old/unittest/src/utility/validateAndType/placeId.test.ts
  test/old/unittest/src/utility/validateAndType/raceId.test.ts
  test/old/unittest/src/utility/validateAndType/racePlayerId.test.ts
Due: eslint --fix, prettier --write

refactor: generateId関数を使用してID生成ロジックを統一
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/utility/validateAndType/idUtility.ts
  src/repository/entity/placeEntity.ts
  src/repository/entity/raceEntity.ts
  test/old/unittest/src/gateway/record/heldDayRecord.test.ts
  test/old/unittest/src/gateway/record/horseRacingRaceRecord.test.ts
  test/old/unittest/src/gateway/record/mechanicalRacingRaceRecord.test.ts
  test/old/unittest/src/gateway/record/placeRecord.test.ts
  test/old/unittest/src/gateway/record/racePlayerRecord.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

feat: IDユーティリティの追加と関連ファイルのインポート修正
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/gateway/record/heldDayRecord.ts
  lib/src/gateway/record/horseRacingRaceRecord.ts
  lib/src/gateway/record/mechanicalRacingRaceRecord.ts
  lib/src/gateway/record/placeGradeRecord.ts
  lib/src/gateway/record/placeRecord.ts
  lib/src/gateway/record/racePlayerRecord.ts
  src/repository/entity/placeEntity.ts
  src/repository/entity/raceEntity.ts
  src/utility/validateAndType/idUtility.ts
  test/old/unittest/src/gateway/record/heldDayRecord.test.ts
  test/old/unittest/src/gateway/record/horseRacingRaceRecord.test.ts
  test/old/unittest/src/gateway/record/mechanicalRacingRaceRecord.test.ts
  test/old/unittest/src/gateway/record/placeRecord.test.ts
  test/old/unittest/src/gateway/record/racePlayerRecord.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/utility/validateAndType/placeId.test.ts
  test/unittest/src/utility/validateAndType/raceId.test.ts
  test/unittest/src/utility/validateAndType/racePlayerId.test.ts
Due: eslint --fix, prettier --write

refactor: 公営ギャンブルIDに関連する型を統一し、PlaceId, RaceId, RacePlayerIdをPublicGamblingIdに変更
  lib/src/gateway/record/heldDayRecord.ts
  lib/src/gateway/record/horseRacingRaceRecord.ts
  lib/src/gateway/record/mechanicalRacingRaceRecord.ts
  lib/src/gateway/record/placeGradeRecord.ts
  lib/src/gateway/record/placeRecord.ts
  lib/src/gateway/record/racePlayerRecord.ts
  src/repository/entity/placeEntity.ts
  src/repository/entity/raceEntity.ts
  src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

Refactor race name processing and utility functions
  lib/src/gateway/implement/googleCalendarGateway.ts
  lib/src/gateway/implement/placeDataHtmlGateway.ts
  lib/src/gateway/implement/raceDataHtmlGateway.ts
  lib/src/gateway/record/heldDayRecord.ts
  lib/src/gateway/record/horseRacingRaceRecord.ts
  lib/src/gateway/record/mechanicalRacingRaceRecord.ts
  lib/src/gateway/record/placeGradeRecord.ts
  lib/src/gateway/record/placeRecord.ts
  lib/src/gateway/record/playerRecord.ts
  lib/src/gateway/record/racePlayerRecord.ts
  lib/src/repository/implement/raceRepositoryFromHtml/jraRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/narRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/overseasRaceRepositoryFromHtmlForAWS.ts
  lib/src/utility/googleCalendarForAWS.ts
  src/gateway/implement/googleCalendarGateway.ts
  src/gateway/implement/placeDataHtmlGateway.ts
  src/gateway/implement/raceDataHtmlGateway.ts
  src/repository/implement/jraRaceRepositoryFromHtml.ts
  src/repository/implement/narRaceRepositoryFromHtml.ts
  src/repository/implement/overseasRaceRepositoryFromHtml.ts
  src/repository/record/playerRecord.ts
  src/utility/createRaceName.ts
  src/utility/data/movie.ts
  src/utility/data/netkeiba.ts
  src/utility/data/url.ts
  src/utility/error.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
  test/old/unittest/src/utility/craeteRaceName.test.ts
  test/old/unittest/src/utility/error.test.ts
Due: eslint --fix, prettier --write

fix: レースデータの終了日を2日後に設定するよう修正
  .github/workflows/race-schedule-cloudflare.yml
Due: none

refactor: SQLクエリの構築を整理し、可読性を向上させるためにfinalSQL変数を追加
  src/repository/implement/placeRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

feat: レースデータ取得機能の改善とURL生成の修正
  lib/src/gateway/implement/raceDataHtmlGateway.ts
  lib/src/gateway/mock/mockRaceDataHtmlGateway.ts
  lib/src/repository/implement/raceRepositoryFromHtml/jraRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/keirinRaceRepositoryFromHtml.ts
  src/utility/data/url.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

feat: AWS用のレースデータリポジトリのクラス名を変更し、テストケースを更新
  lib/container/repository/repositoryFromHtmlConfig.ts
  lib/src/repository/implement/raceRepositoryFromHtml/jraRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/narRaceRepositoryFromHtml.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

feat: GradeMasterListのレースタイプのisSpecifiedをtrueに変更
  src/utility/data/grade.ts
Due: eslint --fix, prettier --write

feat: race-schedule-cloudflare.ymlでレースタイプに"JRA"を追加し、race-schedule-jra.ymlを削除
  .github/workflows/race-schedule-cloudflare.yml
  .github/workflows/race-schedule-jra.yml
Due: none

feat: place-schedule-batch.ymlでレースタイプから"jra"を削除し、race-schedule.ymlを削除
  .github/workflows/place-schedule-batch.yml
  .github/workflows/race-schedule.yml
Due: none

feat: JRAの開催レースデータのテストを更新し、URLを修正
  test/old/unittest/src/gateway/implement/raceDataHtmlGateway.test.ts
Due: eslint --fix, prettier --write

feat: JRAレースデータのURL生成時にplaceとnumberの未指定エラーを追加し、テストケースを更新
  lib/src/gateway/mock/mockRaceDataHtmlGateway.ts
  src/utility/data/url.ts
  test/old/unittest/src/gateway/implement/raceDataHtmlGateway.test.ts
Due: eslint --fix, prettier --write

feat: 不要なレポジトリの登録を削除し、レースサービスのリポジトリをundefinedに設定
  lib/container/repository/repositoryFromHtmlConfig.ts
  lib/src/service/implement/raceServiceForAWS.ts
  test/unittest/src/service/placeService.test.ts
Due: eslint --fix, prettier --write

feat: 不要なモックリポジトリと選手データクラスを削除し、RaceServiceForAWSにメカニカルレースリポジトリを追加
  lib/src/repository/mock/mockHorseRacingRaceRepositoryFromHtml.ts
  lib/src/service/implement/raceServiceForAWS.ts
  src/repository/record/playerRecord.ts
  src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

feat: 不要なHorseRacingRaceRepositoryを削除し、RaceServiceForAWSのリポジトリをundefinedに設定。テストをMechanicalRacingに対応させるためのモックデータを追加。
  lib/container/repository/index.ts
  lib/src/service/implement/raceServiceForAWS.ts
  test/old/unittest/src/service/implement/raceService.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

feat: 不要なITAテスト（JRA、Nar、Overseas）を削除し、ワークフローを整理
  .github/workflows/pull_request.yml
Due: none

feat: 不要なJRA、NAR、海外レースリポジトリを削除し、関連するユニットテストを更新
  lib/src/repository/implement/raceRepositoryFromHtml/jraRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/narRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/overseasRaceRepositoryFromHtmlForAWS.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

feat: カレンダーとレース関連のユースケースインターフェースを追加し、不要なコードを整理
  lib/container/usecase/index.ts
  lib/src/controller/publicGamblingController.ts
  lib/src/usecase/implement/calendarUseCaseForAWS.ts
  lib/src/usecase/implement/playerUseCaseForAWS.ts
  lib/src/usecase/implement/raceUseCaseForAWS.ts
  lib/src/usecase/interface/ICalendarUseCaseForAWS.ts
  lib/src/usecase/interface/IRaceUseCaseForAWS.ts
  src/utility/raceType.ts
  test/old/integrationtest/src/usecase-service/placeUseCase-placeService.test.ts
  test/old/unittest/src/service/implement/placeService.test.ts
  test/old/unittest/src/usecase/implement/calendarUseCase.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

feat: RaceDataHtmlGateway関連のインターフェースと実装を整理し、不要なコードを削除
  lib/container/gateway/index.ts
  lib/src/gateway/implement/raceDataHtmlGateway.ts
  lib/src/gateway/interface/iRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockRaceDataHtmlGateway.ts
  lib/src/repository/implement/raceRepositoryFromHtml/autoraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/boatraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/keirinRaceRepositoryFromHtml.ts
  test/old/unittest/src/gateway/implement/raceDataHtmlGateway.test.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

fix: RaceDataHtmlGatewayでfetchのヘッダーを削除し、シンプルなリクエストに変更 refactor: RaceUseCaseForAWSのsearchList型を簡素化し、可読性を向上
  lib/src/usecase/implement/raceUseCaseForAWS.ts
  src/gateway/implement/raceDataHtmlGateway.ts
Due: eslint --fix, prettier --write

Refactor repositories and tests for mechanical racing
  lib/src/repository/implement/horseRacingRaceRepositoryFromStorage.ts
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  lib/src/repository/implement/placeRepositoryFromStorage.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

fix: ITA系テストを一時的に完全スキップ（cloudflare移行完了まで）コメント付き
  .github/workflows/pull_request.yml
Due: none

feat: RaceUseCaseテストを機械レース用に整理し、不要なテストケースを削除
  test/old/unittest/src/usecase/implement/raceUseCase.test.ts
Due: eslint --fix, prettier --write

feat: RaceUseCaseテストにおいて、オートレース関連のテストケースを追加し、ボートレースのテストケースを修正
  test/old/unittest/src/usecase/implement/raceUseCase.test.ts
Due: eslint --fix, prettier --write

feat: PlaceDataHtmlGateway 実装の追加・修正
  lib/container/gateway/index.ts
  lib/src/gateway/implement/placeDataHtmlGateway.ts
  lib/src/gateway/interface/iPlaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockPlaceDataHtmlGateway.ts
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  src/gateway/implement/placeDataHtmlGateway.ts
  src/gateway/interface/iPlaceDataHtmlGateway.ts
  test/old/unittest/src/gateway/implement/placeDataHtmlGateway.test.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

test: mockRaceRepositoryForAWS のテスト用モック修正
  lib/container/gateway/index.ts
  lib/src/gateway/mock/mockPlaceDataHtmlGateway.ts
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  src/gateway/interface/iPlaceDataHtmlGateway.ts
  test/old/unittest/src/mock/service/playerDataServiceMock.ts
  test/old/unittest/src/mock/service/raceServiceMock.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/gateway/placeDataHtmlGateway.test.ts
  test/unittest/gateway/raceDataHtmlGateway.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

chore: HeldDayRecordおよびそのテストファイルを削除
  lib/src/gateway/record/heldDayRecord.ts
  test/old/unittest/src/gateway/record/heldDayRecord.test.ts
Due: eslint --fix, prettier --write

chore: HorseRacingRaceRecordクラスとそのテストファイルを削除し、RaceEntityからの変換メソッドを削除
  lib/src/gateway/record/horseRacingRaceRecord.ts
  src/repository/entity/raceEntity.ts
  test/old/unittest/src/gateway/record/horseRacingRaceRecord.test.ts
Due: eslint --fix, prettier --write

fix: エラーメッセージの修正、レース情報の取得処理を改善
  src/controller/placeController.ts
  src/controller/raceController.ts
  src/repository/implement/raceRepositoryFromStorage.ts
  src/usecase/implement/calendarUseCase.ts
  src/utility/googleCalendar.ts
  src/utility/raceType.ts
Due: eslint --fix, prettier --write

fix: レース情報の取得処理にデバッグ用のログを追加
  src/usecase/implement/calendarUseCase.ts
Due: eslint --fix, prettier --write

Merge branch 'main' into feature/add-jra-place
  scripts/insert_all_held_day.sh
  scripts/insert_held_day_from_all_csv.ts
Due: eslint --fix, prettier --write

feat: Cloudflare用のレースデータとカレンダー更新処理を追加
  .github/workflows/pull_request.yml
  .github/workflows/race-schedule-cloudflare.yml
Due: none

fix: レースデータ更新処理のレースタイプを修正（海外、オートレースを削除し、競輪を追加）
  .github/workflows/race-schedule-mechanical-racing.yml
Due: none

refactor: オートレース関連のリポジトリとサービスを削除し、レースタイプの処理を整理
  lib/container/repository/repositoryFromHtmlConfig.ts
  lib/src/controller/publicGamblingController.ts
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  lib/src/repository/implement/placeRepositoryFromStorage.ts
  lib/src/repository/implement/raceRepositoryFromHtml/autoraceRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockPlaceRepositoryFromHtml.ts
  lib/src/service/implement/raceServiceForAWS.ts
  lib/src/usecase/implement/calendarUseCaseForAWS.ts
  lib/src/usecase/implement/raceUseCaseForAWS.ts
  lib/src/usecase/interface/ICalendarUseCaseForAWS.ts
  lib/src/usecase/interface/IRaceUseCaseForAWS.ts
  src/utility/raceType.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

fix: テストの引数比較で参照が一致するよう修正（commonParameterMockの参照統一）
  test/old/integrationtest/src/usecase-service/placeUseCase-placeService.test.ts
  test/old/unittest/src/gateway/record/mechanicalRacingRaceRecord.test.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
  test/old/unittest/src/service/implement/placeService.test.ts
  test/old/unittest/src/service/implement/raceService.test.ts
  test/old/unittest/src/usecase/implement/calendarUseCase.test.ts
  test/old/unittest/src/usecase/implement/raceUseCase.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
  test/unittest/src/utility/validateAndType/raceStage.test.ts
Due: eslint --fix, prettier --write

feat: カレンダーのレースデータ取得処理を改善し、テストを追加 - baseCommonDataからのインポートを整理し、commonParameterMockの参照を統一 - testRaceTypeListAllの生成方法を修正し、重複を排除 - レースデータ更新処理において、commonParameterを使用するように変更
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
