Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

chore: Prettier整形 (CI_TEST_MAPPING.md)
  document/CI_TEST_MAPPING.md
Due: prettier --write

chore: dependabotの更新スケジュールを週次から日次に変更
  .github/dependabot.yml
Due: none

chore: dependabotのスケジュールから曜日指定を削除
  .github/dependabot.yml
Due: none

fix: CourseService.ts を courseService.ts にリネーム（ケースセンシティブ対応）
  packages/api/src/service/implement/courseService.ts
Due: eslint --fix, prettier --write

fix: shared パッケージのテストコマンドから --run オプションを削除（Jestには不要）
  .github/workflows/conditional-tests.yml
Due: none

fix: sharedパッケージのテストコマンドに --passWithNoTests を追加（テストファイルなし対応）
  packages/shared/package.json
Due: prettier --write

chore(deps): pin qs@6.14.1 and esbuild@0.25.0; restrict workflow permissions
  .github/workflows/conditional-tests.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): restrict workflow GITHUB_TOKEN permissions for DB deploy workflows
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
Due: none

feat(api): add package-local di and router, expose /course endpoint
  packages/api/src/controller/courseController.ts
  packages/api/src/di.ts
  packages/api/src/router.ts
  packages/api/src/service/interface/ICourseService.ts
Due: eslint --fix, prettier --write

chore(api): make DI configurable by env; call setupDi in router
  packages/api/src/di.ts
  packages/api/src/router.ts
Due: eslint --fix, prettier --write

fix(api): avoid direct process reference to satisfy TS in worker environment
  packages/api/src/di.ts
Due: eslint --fix, prettier --write

fix(api): avoid direct process reference in router (use globalThis)
  packages/api/src/router.ts
Due: eslint --fix, prettier --write

chore(api): wire router as worker entry, add env scripts and wrangler envs
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/wrangler.toml
Due: eslint --fix, prettier --write

chore(shared): fix types exports and race surface validation
  packages/shared/src/index.ts
  packages/shared/src/types/domain.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/raceSurfaceType.ts
  packages/shared/src/types/surfaceType.ts
  pnpm-lock.yaml
  src/domain/houseRaceConditionData.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/utility/createRaceName.ts
  src/utility/data/surfaceType.ts
  src/utility/validateAndType/raceSurfaceType.ts
  test/unittest/src/utility/validateAndType/raceSurfaceType.test.ts
Due: eslint --fix, prettier --write

refactor(types): import RaceSurfaceType from surfaceType to avoid circulars
  packages/shared/src/index.ts
  packages/shared/src/types/raceSurfaceType.ts
  packages/shared/test/raceSurfaceType.test.ts
  src/domain/houseRaceConditionData.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/utility/createRaceName.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(api): add CalendarData DTO and zod schema
  packages/api/src/domain/calendarData.ts
  packages/api/src/usecase/dto/searchCalendarFilterEntity.ts
  packages/api/tsconfig.json
  src/controller/calendarController.ts
  src/di.ts
  src/repository/entity/filter/oldSearchCalendarFilterEntity.ts
  src/repository/entity/filter/searchPlaceFilterEntity.ts
  src/repository/implement/googleCalendarRepository.ts
  src/repository/interface/ICalendarRepository.ts
  src/service/implement/calendarService.ts
  src/service/interface/ICalendarService.ts
  src/usecase/implement/calendarUseCase.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/interface/IOldCalendarUseCase.ts
  src/usecase/interface/IPlaceUsecase.ts
  test/unittest/src/mock/repository/mockCalendarRepository.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/service/calendarService.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
  test/unittest/src/usecase/placeUseCase.test.ts
Due: eslint --fix, prettier --write

chore(api): GoogleCalendarGatewayからカレンダー操作メソッドを削除
  packages/api/src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

calendarControllerとrouterにmigrate用API追加
  src/controller/calendarController.ts
  src/router.ts
Due: eslint --fix, prettier --write

feat(repository): Googleカレンダー用リポジトリを追加し、カレンダーデータを取得するfetchメソッドを実装
  packages/api/src/repository/implement/googleCalendarRepository.ts
Due: eslint --fix, prettier --write

feat: 環境変数管理のOldEnvStoreとOldCloudFlareEnvを導入し、関連するコードを更新
  src/gateway/implement/dbGateway.ts
  src/gateway/implement/oldGoogleCalendarGateway.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/router.ts
  src/utility/envStore.ts
  src/utility/oldCloudFlareEnv.ts
  src/utility/oldEnvStore.ts
  test/unittest/src/mock/common/cloudFlareEnvMock.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

feat: エラーメッセージ生成とロギング機能を共有ユーティリティとして実装
  packages/shared/src/utilities/error.ts
  packages/shared/src/utilities/logger.ts
  src/controller/calendarController.ts
  src/controller/placeController.ts
  src/controller/raceController.ts
  src/gateway/implement/dbGateway.ts
  src/gateway/implement/googleCalendarGateway.ts
  src/gateway/implement/placeDataHtmlGateway.ts
  src/gateway/implement/raceDataHtmlGateway.ts
  src/repository/implement/googleCalendarRepository.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/playerRepository.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromStorage.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/service/implement/calendarService.ts
  src/service/implement/placeService.ts
  src/service/implement/playerService.ts
  src/service/implement/raceService.ts
  src/usecase/implement/calendarUseCase.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/implement/playerUsecase.ts
  src/usecase/implement/raceUsecase.ts
  src/utility/error.ts
  src/utility/logger.ts
  test/unittest/src/utility/error.test.ts
Due: eslint --fix, prettier --write

feat: OldGoogleCalendarGatewayクラスを削除し、古い環境変数管理を整理
  src/gateway/implement/oldGoogleCalendarGateway.ts
Due: eslint --fix, prettier --write

fix: IOldCalendarUseCaseにmigrateCalendarData追加・空実装
  src/usecase/implement/calendarUseCase.ts
Due: eslint --fix, prettier --write

feat: カレンダー情報のマイグレーションAPIを削除
  src/controller/calendarController.ts
Due: eslint --fix, prettier --write

feat: 古いカレンダー関連のエンティティとインターフェースの導入
  src/controller/calendarController.ts
  src/di.ts
  src/gateway/implement/googleCalendarGateway.ts
  src/gateway/interface/iOldCalendarGateway.ts
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/repository/entity/filter/oldSearchCalendarFilterEntity.ts
  src/repository/implement/googleCalendarRepository.ts
  src/repository/interface/ICalendarRepository.ts
  src/service/implement/calendarService.ts
  src/service/interface/ICalendarService.ts
  src/usecase/implement/calendarUseCase.ts
  src/usecase/interface/ICalendarUseCase.ts
  test/unittest/src/mock/gateway/mockGoogleCalendarGateway.ts
  test/unittest/src/mock/repository/mockCalendarRepository.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/service/calendarService.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

feat: 新しい検索フィルターエンティティと関連する型定義を追加
  packages/api/src/service/interface/ICourseService.ts
  packages/api/src/usecase/dto/searchCalendarFilterEntity.ts
  packages/api/tsconfig.json
  packages/shared/src/types/surfaceType.ts
  src/domain/houseRaceConditionData.ts
  src/repository/entity/filter/searchPlaceFilterEntity.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/interface/IPlaceUsecase.ts
  src/utility/createRaceName.ts
  src/utility/data/surfaceType.ts
  test/unittest/src/usecase/placeUseCase.test.ts
  test/unittest/src/utility/validateAndType/raceSurfaceType.test.ts
Due: eslint --fix, prettier --write

feat: 古いカレンダー、場所、レースサービスおよびユースケースの実装
  src/controller/calendarController.ts
  src/controller/placeController.ts
  src/controller/raceController.ts
  src/di.ts
  src/service/implement/oldCalendarService.ts
  src/service/implement/oldPlaceService.ts
  src/service/implement/oldRaceService.ts
  src/service/interface/IOldCalendarService.ts
  src/service/interface/IOldPlaceService.ts
  src/service/interface/IOldRaceService.ts
  src/usecase/implement/oldCalendarUseCase.ts
  src/usecase/implement/oldPlaceUsecase.ts
  src/usecase/implement/oldRaceUsecase.ts
  src/usecase/interface/IOldCalendarUseCase.ts
  src/usecase/interface/IOldPlaceUsecase.ts
  src/usecase/interface/IOldRaceUsecase.ts
  test/unittest/src/mock/service/calendarServiceMock.ts
  test/unittest/src/mock/service/placeServiceMock.ts
  test/unittest/src/mock/service/raceServiceMock.ts
  test/unittest/src/mock/usecase/placeUsecaseMock.ts
  test/unittest/src/mock/usecase/raceUsecaseMock.ts
  test/unittest/src/service/calendarService.test.ts
  test/unittest/src/service/placeService.test.ts
  test/unittest/src/service/raceService.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
  test/unittest/src/usecase/placeUseCase.test.ts
  test/unittest/src/usecase/raceUseCase.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

refactor: RaceTypeのインポートパスを修正し、不要なファイルを削除
  packages/api/src/gateway/interface/iGoogleCalendarGateway.ts
  packages/api/src/usecase/dto/searchCalendarFilterEntity.ts
  packages/shared/src/types/index.ts
  packages/shared/test/raceSurfaceType.test.ts
  src/di.ts
  src/domain/houseRaceConditionData.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: RaceTypeのインポートパスを修正
  packages/api/src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

refactor: tsconfig.jsonのincludeから不要なファイルを削除
  packages/api/tsconfig.json
Due: prettier --write

feat: Googleカレンダーとの連携機能を追加
  eslint.config.mjs
  packages/api/src/domain/calendarData.ts
  packages/api/src/gateway/interface/iGoogleCalendarGateway.ts
  packages/api/src/repository/implement/googleCalendarRepository.ts
  packages/api/src/repository/interface/ICalendarRepository.ts
  packages/api/src/service/implement/calendarService.ts
  packages/api/src/service/interface/ICalendarService.ts
  packages/api/src/usecase/implement/calendarUseCase.ts
  packages/api/src/usecase/interface/ICalendarUseCase.ts
  packages/api/tsconfig.json
  src/di.ts
  src/gateway/implement/oldGoogleCalendarGateway.ts
Due: eslint --fix, prettier --write

refactor: 古いGoogleカレンダーゲートウェイのインターフェース名を修正し、関連するインポートを更新 - IOldGoogleCalendarGatewayのインポートパスを修正 - 不要なiOldCalendarGatewayインターフェースを削除し、新しいiOldGoogleCalendarGatewayインターフェースを追加 - モックサービスとリポジトリのインポートを更新
  src/di.ts
  src/gateway/implement/oldGoogleCalendarGateway.ts
  src/gateway/interface/iOldCalendarGateway.ts
  src/gateway/interface/iOldGoogleCalendarGateway.ts
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/repository/implement/googleCalendarRepository.ts
  test/unittest/src/mock/gateway/mockGoogleCalendarGateway.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

feat: CourseControllerを追加し、コース一覧取得機能を実装。不要なdomain.tsとindex.tsを削除。
  packages/api/src/controller/courseController.ts
  packages/shared/src/types/domain.ts
  packages/shared/src/types/index.ts
Due: eslint --fix, prettier --write

fix: shared/src/index.ts の型エクスポート修正（types/index.tsが存在しない問題対応）
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: APIサービスのリファクタリングと依存性注入の設定を追加
  packages/api/package.json
  packages/api/src/di.ts
  packages/api/src/index.ts
  packages/api/src/router.ts
  packages/api/tsconfig.eslint.json
Due: eslint --fix, prettier --write

fix: getCourseListメソッドのエラーハンドリングを改善し、course_code_typeが指定されていない場合のレスポンスを追加
  packages/api/src/controller/courseController.ts
Due: eslint --fix, prettier --write

fix: index.tsにCloudflare Workersの型参照を追加
  packages/api/src/index.ts
Due: eslint --fix, prettier --write

テストの responseBody 型エラーを any アサートで解消
  test/unittest/src/controller/placeController.test.ts
  test/unittest/src/controller/playerController.test.ts
  test/unittest/src/controller/raceController.test.ts
Due: eslint --fix, prettier --write

feat: Cloudflare Test APIのデプロイ用ワークフローを追加
  .github/workflows/deploy-test.yml
Due: none
