Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

chore: deploy-test.ymlにpermissionsセクションを追加
  .github/workflows/deploy-test.yml
Due: none

GitHub Actions: pnpmの有効化とfeature/fix-gh-actions-pnpmブランチ対応
  .github/actions/test/ita/nar/action.yml
  .github/workflows/deploy-test.yml
Due: none

feat: wrangler.tomlファイルを追加し、Cloudflare D1データベースの設定を定義しました。また、.gitignoreに.d1.secretを追加しました。
  .gitignore
  packages/api/wrangler.toml
  packages/db/wrangler.toml
  wrangler.toml
Due: none

fix: wrangler.tomlのnameを"race-schedule-api"から"race-schedule"に変更しました
  packages/api/wrangler.toml
Due: none

feat: Cloudflare Production APIのデプロイ用ワークフローを追加しました
  .github/workflows/deploy-prod.yml
Due: none

fix: GitHub Actionsのトリガーからfeature/fix-gh-actions-pnpmブランチを削除しました
  .github/workflows/deploy-test.yml
Due: none

fix: GitHub Actionsのブランチ設定を修正し、wrangler.tomlに本番環境用のセクションを追加しました
  .github/workflows/deploy-prod.yml
  packages/api/wrangler.toml
Due: none

wrangler.tomlを整理: name/main/compatibility_dateの重複・不要設定を削除し、各envで必要なnameのみ上書きする形に統一
  packages/api/wrangler.toml
Due: none

deploy-test.yml: mainブランチpushまたはdeploy-testラベル付与で起動し、起動後はラベルを自動削除するよう修正
  .github/workflows/deploy-test.yml
Due: none

deploy-test.yml: labeledイベントの記述をGitHub Actions仕様に修正（issues/pull_request types:labeled）、context参照も正規化
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

deploy-test.yml: labeledイベント時は「deploy-test」ラベル以外ではジョブをスキップするようif条件を追加
  .github/workflows/deploy-test.yml
Due: none

deploy-test.yml: ラベル自動削除のためpermissionsにissues: writeを追加
  .github/workflows/deploy-test.yml
Due: none

feat: カレンダーAPIの実装
  packages/api/src/controller/calendarController.ts
  packages/api/src/di.calendar.ts
  packages/api/src/repository/implement/googleCalendarRepository.ts
  packages/api/src/repository/interface/ICalendarRepository.ts
  packages/api/src/router.ts
  packages/api/src/service/implement/calendarService.ts
  packages/api/src/service/interface/ICalendarService.ts
  packages/api/src/types/calendar.ts
  packages/api/src/usecase/implement/calendarUseCase.ts
  packages/api/src/usecase/interface/ICalendarUseCase.ts
Due: eslint --fix, prettier --write

feat: Google Calendar APIのゲートウェイと環境変数の型定義を追加
  packages/api/src/gateway/implement/googleCalendarGateway.ts
  packages/shared/src/utilities/cloudFlareEnv.ts
  packages/shared/src/utilities/envStore.ts
Due: eslint --fix, prettier --write

fix: RaceTypeのimportパス・型エラー修正、diのimport修正
  packages/api/src/controller/calendarController.ts
  packages/api/src/di.calendar.ts
  packages/api/src/domain/calendarData.ts
  packages/api/src/gateway/implement/googleCalendarGateway.ts
  packages/api/src/types/calendar.ts
Due: eslint --fix, prettier --write

chore: コード変更の整理と無駄なコードの削除
  packages/api/.dev.vars
  packages/api/package.json
  packages/api/src/di.calendar.ts
  packages/api/src/di.course.ts
  packages/api/src/gateway/implement/googleCalendarGateway.ts
  packages/api/src/index.ts
  packages/api/src/repository/implement/googleCalendarRepository.ts
  packages/api/src/router.ts
  packages/api/src/service/implement/calendarService.ts
  packages/api/src/usecase/implement/calendarUseCase.ts
  packages/api/wrangler.toml
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: テスト実行コマンドから不要なオプションを削除
  .github/workflows/conditional-tests.yml
  document/CI_TEST_MAPPING.md
  document/TEST_CREATION_GUIDELINES.md
Due: prettier --write

refactor: DIの登録名を修正
  packages/api/src/di.course.ts
  packages/api/src/service/implement/courseService.ts
  packages/api/src/usecase/implement/courseUseCase.ts
Due: eslint --fix, prettier --write

feat: placeおよびplace_gradeテーブルの作成とインデックス、トリガーの追加
  packages/db/migrations/place.sql
  packages/db/migrations/place_grade.sql
Due: none

place_masterテーブルのDDL追加（複合主キー・タイムスタンプ・トリガー対応）
  packages/db/migrations/place_master.sql
Due: none

chore: placeおよびplace_gradeテーブルのマイグレーションファイルを削除
  packages/db/migrations/place.sql
  packages/db/migrations/place_grade.sql
Due: none

featureブランチでもDBマイグレーションが走るようworkflow修正
  .github/workflows/deploy-db-test.yml
  packages/db/wrangler.toml
Due: none

fix: D1データベースのバインディング名を修正
  packages/db/wrangler.toml
Due: none

fix: DBマイグレーション適用時のwrangler設定とGitHub Actionsワークフローを修正
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
  packages/db/wrangler.toml
Due: none

fix: wranglerコマンドをpnpm execで実行するように修正
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
Due: none

fix: wranglerコマンドの引数を修正し、binding名でDB操作を実行
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
Due: none

fix: Cloudflare API権限・DB ID修正に伴う再デプロイ
  .github/workflows/deploy-db-test.yml
Due: none

feat: PlaceMasterエンティティ、DBゲートウェイ、リポジトリ、マッパーの実装を追加
  packages/api/src/domain/entity/placeMasterEntity.ts
  packages/api/src/gateway/implement/dbGateway.ts
  packages/api/src/gateway/interface/IDBGateway.ts
  packages/api/src/repository/implement/placeMasterRepository.ts
  packages/api/src/repository/interface/IPlaceMasterRepository.ts
  packages/api/src/repository/mapper/placeMasterMapper.ts
  packages/shared/src/utilities/cloudFlareEnv.ts
Due: eslint --fix, prettier --write

feat: CourseRepositoryの実装を追加し、ICourseRepositoryインターフェースを更新
  packages/api/src/repository/implement/courseRepository.ts
  packages/api/src/repository/implement/courseRepositoryStub.ts
  packages/api/src/repository/implement/placeMasterRepository.ts
  packages/api/src/repository/interface/ICourseRepository.ts
  packages/api/src/repository/interface/IPlaceMasterRepository.ts
Due: eslint --fix, prettier --write

Course型変換: import() type annotation排除・courseCodeType型キャスト
  packages/api/src/repository/implement/courseRepository.ts
  packages/api/src/repository/implement/courseRepositoryStub.ts
  packages/api/src/repository/interface/ICourseRepository.ts
Due: eslint --fix, prettier --write

型importパス修正: shared/src/typesから直接import
  packages/api/src/repository/implement/courseRepository.ts
  packages/api/src/repository/implement/courseRepositoryStub.ts
  packages/api/src/repository/interface/ICourseRepository.ts
Due: eslint --fix, prettier --write

vitest導入・テスト通過
  packages/api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(dependabot): npmのminorとpatchを1グループにまとめる設定に変更
  .github/dependabot.yml
Due: none

chore: テストファイルを削除しました (courseService.test.ts, courseUseCase.test.ts)
  packages/api/test/courseService.test.ts
  packages/api/test/courseUseCase.test.ts
Due: eslint --fix, prettier --write

CourseServiceのfetchテストを整理・テスト名修正
  packages/api/test/mock/repository/mockCourseRepository.ts
  packages/api/test/testSetupHelper.ts
  packages/api/test/unittest/service/implement/courseService.test.ts
Due: eslint --fix, prettier --write

docs: fetchテストのディシジョンテーブルを追加し、コードスタイルを修正
  packages/api/test/unittest/service/implement/courseService.test.ts
Due: eslint --fix, prettier --write

作業内容をコミット
  packages/api/src/controller/calendarController.ts
  packages/api/src/controller/courseController.ts
  packages/api/src/di.calendar.ts
  packages/api/src/di.course.ts
  packages/api/src/usecase/implement/calendarUseCase.ts
  packages/api/src/usecase/implement/courseUsecase.ts
  packages/api/src/usecase/interface/ICourseUsecase.ts
  packages/api/test/mock/service/mockCourseService.ts
  packages/api/test/testSetupHelper.ts
  packages/api/test/unittest/usecase/implement/courseUsecase.test.ts
Due: eslint --fix, prettier --write

fix: インターフェース名の修正と一貫性のある命名に変更
  packages/api/src/controller/calendarController.ts
  packages/api/src/di.calendar.ts
  packages/api/src/usecase/implement/calendarUseCase.ts
  packages/api/src/usecase/implement/courseUsecase.ts
  packages/api/src/usecase/interface/ICalendarUseCase.ts
Due: eslint --fix, prettier --write

feat: CalendarUsecaseとICalendarUsecaseの実装を追加
  packages/api/src/usecase/implement/calendarUsecase.ts
  packages/api/src/usecase/interface/ICalendarUsecase.ts
Due: eslint --fix, prettier --write
