Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: DI登録の修正とCourseRepositoryのクラス名変更
  packages/api/src/di.course.ts
  packages/api/src/repository/implement/courseRepository.ts
  packages/api/wrangler.toml
Due: eslint --fix, prettier --write

feat: データベース接続のための設定を追加
  .gitignore
  packages/api/package.json
  packages/api/wrangler.toml
Due: prettier --write

place_master用のSQL生成スクリプトと出力SQLをpackages/db/scriptへ移動し、SQLをgitignoreに追加
  .gitignore
  packages/api/wrangler.effective.toml
  packages/db/wrangler.effective.toml
Due: none

CalendarDataクラスをDTO+zodスキーマ形式に置換・関連箇所を全面リファクタ
  src/domain/calendarData.ts
  src/repository/implement/googleCalendarRepository.ts
  src/repository/interface/ICalendarRepository.ts
  src/service/implement/oldCalendarService.ts
  src/service/interface/IOldCalendarService.ts
  src/usecase/implement/oldCalendarUseCase.ts
  src/usecase/interface/IOldCalendarUseCase.ts
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
  test/unittest/src/domain/calendarData.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

カレンダー関連のDTOリファクタリング作業をコミット
  src/domain/calendarData.ts
  src/repository/implement/googleCalendarRepository.ts
  src/repository/interface/ICalendarRepository.ts
  src/service/implement/oldCalendarService.ts
  src/service/interface/IOldCalendarService.ts
  src/usecase/implement/oldCalendarUseCase.ts
  src/usecase/interface/IOldCalendarUseCase.ts
  src/utility/googleCalendar.ts
  test/unittest/src/domain/calendarData.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

pull_request用のpromptテンプレートを追加
  .github/prompts/pull_request.prompt.md
Due: prettier --write

prettierでpull_request.prompt.mdをフォーマット
  .github/prompts/pull_request.prompt.md
Due: prettier --write

commitとpush用のpromptテンプレートを追加
  .github/prompts/commit_push.prompt.md
Due: prettier --write

commit/push自動化フローの手順を追記
  .github/prompts/commit_push.prompt.md
Due: prettier --write

コミットprefix例とmainブランチ時の手順を追記
  .github/prompts/commit_push.prompt.md
Due: prettier --write

chore: commit_push.prompt.mdの手順修正とpull_request.prompt.mdの削除
  .github/prompts/commit_push.prompt.md
  .github/prompts/pull_request.prompt.md
Due: prettier --write

refactor: DBGatewayの実装ファイルを編集
  packages/api/src/gateway/implement/dbGateway.ts
  src/gateway/implement/dbGateway.ts
Due: eslint --fix, prettier --write

docs: IGoogleCalendarGatewayのコメントを簡潔化
  packages/api/src/gateway/interface/iGoogleCalendarGateway.ts
Due: eslint --fix, prettier --write

feat: GoogleCalendarGatewayにupdate/insert/deleteメソッドを実装
  packages/api/src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

refactor: Googleカレンダー関連の旧実装をリネーム・整理
  src/di.ts
  src/gateway/implement/oldGoogleCalendarGateway.ts
  src/gateway/interface/iOldCalendarGateway.ts
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/repository/implement/oldGoogleCalendarRepository.ts
  test/unittest/src/mock/gateway/mockGoogleCalendarGateway.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

feat: placeテーブルに複合UNIQUE制約・複合インデックス追加、およびDDLコメント・トリガー修正
  packages/db/migrations/place.sqlite.sql
  packages/db/migrations/place_master.sqlite.sql
Due: none

refactor: place_held_dayテーブル名・コメント整理・不要カラム削除
  packages/db/migrations/place.sqlite.sql
  packages/db/migrations/place_grade.sqlite.sql
  packages/db/migrations/place_held_day.sqlite.sql
  packages/db/migrations/place_master.sqlite.sql
Due: none

feat: PlaceEntity等のEntity/type設計とバリデーション型の改善
  packages/shared/src/types/heldDayTimes.ts
  packages/shared/src/types/heldTimes.ts
  src/domain/heldDayData.ts
  test/unittest/src/domain/heldDayData.test.ts
  test/unittest/src/utility/validateAndType/heldDayTimes.test.ts
  test/unittest/src/utility/validateAndType/heldTimes.test.ts
Due: eslint --fix, prettier --write

Checkpoint from VS Code for coding agent session
  packages/shared/src/entity/placeEntity.ts
  packages/shared/src/types/placeId.ts
Due: eslint --fix, prettier --write

chore: テスト・コミット自動化フローの運用ルール修正
  .github/prompts/commit_push.prompt.md
  packages/api/test/unittest/usecase/implement/courseUsecase.test.ts
Due: eslint --fix, prettier --write

Add LocationCode type for place entity location codes (#899)
  packages/shared/src/entity/placeEntity.ts
  packages/shared/src/types/locationCode.ts
  packages/shared/src/types/placeId.ts
  test/unittest/src/utility/validateAndType/locationCode.test.ts
Due: eslint --fix, prettier --write

refactor: place関連のDTO・リポジトリ・サービス構成整理とファイル移動
  packages/api/src/usecase/dto/searchPlaceFilterEntity.ts
  packages/api/src/usecase/interface/IPlaceService.ts
  packages/shared/src/entity/placeEntity.ts
  packages/shared/src/utilities/upsertResult.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromStorage.ts
  src/repository/interface/IPlaceRepository.ts
  src/repository/interface/IRaceRepository.ts
  src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/service/implement/oldPlaceService.ts
  src/service/implement/oldRaceService.ts
  src/service/interface/IOldPlaceService.ts
  src/service/interface/IOldRaceService.ts
  src/usecase/implement/oldPlaceUsecase.ts
  src/usecase/implement/oldRaceUsecase.ts
  src/usecase/interface/IOldPlaceUsecase.ts
  src/usecase/interface/IOldRaceUsecase.ts
  test/unittest/src/usecase/placeUseCase.test.ts
Due: eslint --fix, prettier --write

feat: SearchPlaceFilterParams型のinterface化と関連ファイル整理
  packages/api/src/service/interface/IPlaceService.ts
  packages/api/src/types/searchPlaceFilter.ts
  packages/api/src/usecase/dto/searchCalendarFilterEntity.ts
  packages/api/src/usecase/dto/searchPlaceFilterEntity.ts
  packages/api/src/usecase/interface/IPlaceService.ts
  packages/api/src/usecase/interface/IPlaceUsecase.ts
Due: eslint --fix, prettier --write

fix: GOOGLE_PRIVATE_KEY未設定時に明示的なエラーを出すガードを追加
  packages/api/src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

docs: commit/pushフローの手順を明記
  .github/prompts/commit_push.prompt.md
Due: prettier --write

refactor: playerNumber等の型・ユーティリティをshared/typesへ移動、関連箇所修正
  packages/shared/src/types/playerNumber.ts
  packages/shared/src/types/positionNumber.ts
  packages/shared/src/types/raceDateTime.ts
  packages/shared/src/types/raceDistance.ts
  packages/shared/src/types/raceName.ts
  packages/shared/src/types/raceNumber.ts
  src/domain/houseRaceConditionData.ts
  src/domain/placeData.ts
  src/domain/raceData.ts
  src/domain/racePlayerData.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/utility/createRaceName.ts
  src/utility/validateAndType/idUtility.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/utility/validateAndType/playerNumber.test.ts
  test/unittest/src/utility/validateAndType/positionNumber.test.ts
  test/unittest/src/utility/validateAndType/raceDateTime.test.ts
  test/unittest/src/utility/validateAndType/raceDistrance.test.ts
  test/unittest/src/utility/validateAndType/raceName.test.ts
  test/unittest/src/utility/validateAndType/raceNumber.test.ts
Due: eslint --fix, prettier --write

refactor: テストファイルをshared/testへ移動、tsconfig修正
  packages/shared/test/heldDayTimes.test.ts
  packages/shared/test/heldTimes.test.ts
  packages/shared/test/locationCode.test.ts
  packages/shared/test/playerNumber.test.ts
  packages/shared/test/positionNumber.test.ts
  packages/shared/test/raceDateTime.test.ts
  packages/shared/test/raceDistrance.test.ts
  packages/shared/test/raceNumber.test.ts
  packages/shared/test/raceSurfaceType.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: tsconfigの設定変更
  tsconfig.json
Due: prettier --write

feat: PlaceEntityに新機能・修正を追加
  packages/shared/src/entity/placeEntity.ts
Due: eslint --fix, prettier --write

docs: PlaceEntity型に詳細JSDocコメントを追加
  packages/shared/src/entity/placeEntity.ts
Due: eslint --fix, prettier --write

feat: PlaceUsecase/PlaceService/PlaceRepositoryの実装と依存構成を追加（lint対応済み）
  packages/api/src/repository/implement/placeRepository.ts
  packages/api/src/repository/interface/IPlaceRepository.ts
  packages/api/src/service/implement/placeService.ts
  packages/api/src/usecase/implement/placeUsecase.ts
Due: eslint --fix, prettier --write

feat: PlaceAPI表示用DTO追加・locationCode除外のレスポンス対応
  packages/api/src/controller/placeController.ts
  packages/api/src/di.place.ts
  packages/api/src/repository/implement/placeRepositoryStub.ts
  packages/api/src/router.ts
  packages/shared/src/dto/placeDisplayDto.ts
  packages/shared/src/entity/placeEntity.ts
Due: eslint --fix, prettier --write

feat: RaceTypeのインポート方法を修正し、妥当性チェックを改善
  packages/api/src/controller/placeController.ts
Due: eslint --fix, prettier --write

test: shared配下の全テストをvitest対応・import修正・テスト安定化
  packages/shared/package.json
  packages/shared/test/heldDayTimes.test.ts
  packages/shared/test/heldTimes.test.ts
  packages/shared/test/locationCode.test.ts
  packages/shared/test/playerNumber.test.ts
  packages/shared/test/positionNumber.test.ts
  packages/shared/test/raceDateTime.test.ts
  packages/shared/test/raceDistrance.test.ts
  packages/shared/test/raceNumber.test.ts
  packages/shared/test/raceSurfaceType.test.ts
Due: eslint --fix, prettier --write

feat: pnpm-lock.yamlにvitestの依存関係を追加（バージョン4.0.16）
  pnpm-lock.yaml
Due: none

feat: PositionNumberテストのリファクタリングとRaceTypeの使用を明示化
  packages/shared/test/positionNumber.test.ts
Due: eslint --fix, prettier --write

fix: PlaceControllerのRaceType importパス修正
  .github/prompts/commit_push.prompt.md
  packages/api/src/controller/placeController.ts
Due: eslint --fix, prettier --write

style: Prettierによるcommit_push.prompt.mdの整形
  .github/prompts/commit_push.prompt.md
Due: prettier --write

chore: ローカル不要ブランチ一括削除スクリプトを追加
  package.json
Due: prettier --write

feat: レース関連のサービス・ユースケース・型・エンティティ追加
  packages/api/src/service/interface/IRaceService.ts
  packages/api/src/types/searchRaceFilter.ts
  packages/api/src/usecase/implement/raceUsecase.ts
  packages/api/src/usecase/interface/IRaceUsecase.ts
  packages/shared/src/entity/raceEntity.ts
  packages/shared/src/types/raceId.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
