Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

修正
  lib/container/repository/repositoryFromSqliteConfig.ts
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
  lib/src/repository/implement/playerRepositoryFromSqliteImpl.ts
  package.json
Due: eslint --fix, prettier --write

stackの追加
  lib/cdk-race-schedule-app-stack.ts
  lib/src/utility/sqlite.ts
  lib/stack/lambda-setup.ts
Due: eslint --fix, prettier --write

linter
  lib/src/usecase/implement/autoraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/boatraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
  lib/src/utility/raceId.ts
Due: eslint --fix, prettier --write

update
  package.json
  pnpm-lock.yaml
Due: prettier --write

ソースの修正
  lib/src/gateway/implement/googleCalendarGateway.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

pnpm update
  package.json
  pnpm-lock.yaml
Due: prettier --write

いったんまとめない
  .github/dependabot.yml
Due: none

ソースの修正
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

pnpm minor update
  package.json
  pnpm-lock.yaml
Due: prettier --write

"jest": "^30.0.0"更新
  package.json
  pnpm-lock.yaml
Due: prettier --write

"@types/node": "24.0.0"の更新
  package.json
  pnpm-lock.yaml
Due: prettier --write

googleapisのupdate
  lib/src/gateway/implement/googleCalendarGateway.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

不要だと思われるものの削除
  package.json
  pnpm-lock.yaml
Due: prettier --write

aws-cdk-libのupdate
  package.json
  pnpm-lock.yaml
Due: prettier --write

一度sqliteを使わないように整理
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/scripts/check-sqlite.ts
  lib/src/domain/playerData.ts
  lib/src/repository/entity/searchPlayerFilterEntity.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
  lib/src/repository/implement/playerRepositoryFromSqliteImpl.ts
  lib/src/service/implement/playerDataService.ts
  lib/src/service/interface/IPlayerDataService.ts
  lib/src/usecase/implement/autoraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/boatraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
  lib/src/utility/sqlite.ts
Due: eslint --fix, prettier --write

sqliteの生成
  lib/scripts/sqliteSandbox.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

sqliteの設定を追加
  lib/scripts/sqliteSandbox.ts
  lib/scripts/sqliteSetting.ts
  package.json
Due: eslint --fix, prettier --write

sqliteの設定を追加
  lib/scripts/sqliteSetting.ts
Due: eslint --fix, prettier --write

sqliteの設定を追加
  lib/scripts/sqliteSetting.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

narPlaceRepositoryの作成
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/scripts/sqliteSetting.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
Due: eslint --fix, prettier --write

sqlitesettingの整理
  .gitignore
  lib/scripts/sqliteSetting.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

place_dataの追加
  .gitignore
  lib/scripts/sqliteSetting.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
Due: eslint --fix, prettier --write

sqliteのライブラリを利用
  lib/scripts/sqliteSetting.ts
  lib/src/repository/implement/jraPlaceRepositoryFromSqliteImpl.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
  lib/src/utility/sqlite.ts
Due: eslint --fix, prettier --write

sqliteの修正
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
Due: eslint --fix, prettier --write

JraPlaceRepositoryFromSqliteImplの導入
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/src/repository/implement/jraPlaceRepositoryFromSqliteImpl.ts
Due: eslint --fix, prettier --write

バグ修正
  .github/actions/test/unit/action.yml
  pnpm-workspace.yaml
Due: none

バグ修正
  package.json
  pnpm-lock.yaml
Due: prettier --write

RaceTypeの参照変更
  lib/src/domain/playerData.ts
  lib/src/repository/entity/searchPlayerFilterEntity.ts
  lib/src/service/implement/playerDataService.ts
  lib/src/service/interface/IPlayerDataService.ts
  lib/src/usecase/implement/autoraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/boatraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
  lib/src/utility/sqlite.ts
Due: eslint --fix, prettier --write

消したファイルを戻す
  lib/src/repository/implement/playerRepositoryFromSqliteImpl.ts
Due: eslint --fix, prettier --write

better-sqlite3のpackage整理
  package.json
  pnpm-lock.yaml
Due: prettier --write

sqliteのコア機能の追加
  lib/src/utility/sqlite.ts
Due: eslint --fix, prettier --write

マイグレーションの管理
  lib/src/utility/sqlite/migrations.ts
Due: eslint --fix, prettier --write

ファイルの整理
  lib/src/utility/sqlite.ts
  lib/src/utility/sqlite/migrations.ts
Due: eslint --fix, prettier --write

テーブル作成クエリの作成
  lib/src/utility/sqlite/schema/index.ts
  lib/src/utility/sqlite/schema/placeMedia.ts
  lib/src/utility/sqlite/schema/places.ts
Due: eslint --fix, prettier --write

ファイル構成を変更
  lib/scripts/sqliteInit.ts
  lib/src/utility/sqlite/migrations/importCsv.ts
  lib/src/utility/sqlite/migrations/index.ts
  lib/src/utility/sqlite/migrations/migrations.ts
  lib/src/utility/sqlite/migrations/utils.ts
  lib/src/utility/sqlite/schema.ts
  lib/src/utility/sqlite/schema/index.ts
  lib/src/utility/sqlite/schema/placeData.ts
  lib/src/utility/sqlite/schema/placeHeld.ts
  lib/src/utility/sqlite/settings/constants.ts
  lib/src/utility/sqlite/settings/dbConfig.ts
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

フォルダの整理
  lib/scripts/importCsvData.ts
  lib/src/utility/sqlite/migrations/importCsv.ts
  lib/src/utility/sqlite/schema.ts
  lib/src/utility/sqlite/schema/index.ts
  lib/src/utility/sqlite/schema/placeHeldData.ts
  package.json
Due: eslint --fix, prettier --write

不要なファイルを削除
  lib/src/utility/sqlite/schema/placeHeld.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
