Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: raceTypeのユーティリティ関数を使用して条件チェックを簡素化
  src/repository/entity/placeEntity.ts
  src/repository/entity/raceEntity.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromStorage.ts
  test/unittest/src/repository/entity/placeEntity.test.ts
Due: eslint --fix, prettier --write

fix: raceTypeのチェックをisIncludedRaceType関数を使用して改善
  src/repository/entity/placeEntity.ts
  src/repository/entity/raceEntity.ts
  test/unittest/repository/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

chore: @eslint/js と eslint のバージョンを 9.37.0 から 9.38.0 に更新
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): auto-regenerate pnpm-lock for dependabot PRs
  .github/workflows/resolve-pnpm-lock-conflicts.yml
Due: none

ci: use Node 20 for pnpm lock regenerate workflow
  .github/workflows/resolve-pnpm-lock-conflicts.yml
Due: none

chore: Dependabot 用の pnpm-lock 競合解決ワークフローを削除
  .github/workflows/resolve-pnpm-lock-conflicts.yml
Due: none

chore: swagger関連の依存関係を削除
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: モックの型定義を修正
  test/unittest/src/mock/service/calendarServiceMock.ts
  test/unittest/src/mock/service/placeServiceMock.ts
  test/unittest/src/mock/usecase/placeUsecaseMock.ts
Due: eslint --fix, prettier --write

feat: IPlaceUseCaseインターフェースにupsertPlaceEntityListV2メソッドを追加し、PlaceUseCaseクラスに実装
  src/usecase/implement/placeUsecase.ts
  src/usecase/interface/IPlaceUsecase.ts
Due: eslint --fix, prettier --write

feat: IPlaceUseCaseインターフェースからupsertPlaceEntityListV2メソッドを削除
  src/usecase/interface/IPlaceUsecase.ts
Due: eslint --fix, prettier --write

feat: PlaceUseCaseクラスからupsertPlaceEntityListV2メソッドを削除
  src/usecase/implement/placeUsecase.ts
Due: eslint --fix, prettier --write

fix: カレンダーエンティティリストの変数名を修正し、レスポンスのカウントとレースを正しいリストに更新
  src/controller/calendarController.ts
Due: eslint --fix, prettier --write

feat: 各サービスおよびユースケースにおけるメソッドのJSDocコメントを更新し、引数の説明を追加
  src/service/implement/calendarService.ts
  src/service/implement/placeService.ts
  src/service/implement/raceService.ts
  src/service/interface/ICalendarService.ts
  src/service/interface/IPlaceService.ts
  src/service/interface/IRaceService.ts
  src/usecase/implement/calendarUseCase.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/implement/raceUsecase.ts
  src/usecase/interface/ICalendarUseCase.ts
  src/usecase/interface/IPlaceUsecase.ts
  src/usecase/interface/IRaceUsecase.ts
Due: eslint --fix, prettier --write

docs: RaceEntityのコンストラクタおよびインスタンス生成メソッドのJSDocコメントを更新し、placeId、stage、racePlayerDataListの説明を追加
  src/repository/entity/raceEntity.ts
Due: eslint --fix, prettier --write

Refactor playerRepository and calendarUseCase for improved readability and performance
  pnpm-lock.yaml
  src/repository/implement/playerRepository.ts
  src/usecase/implement/calendarUseCase.ts
  src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

fix: @types/expressを5.0.4から5.0.5にアップデート
  package.json
  pnpm-lock.yaml
Due: prettier --write

Implement code changes to enhance functionality and improve performance
  package.json
  pnpm-lock.yaml
Due: prettier --write

Refactor code structure for improved readability and maintainability
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: baseline-browser-mappingを2.8.24から2.8.25にアップデート
  pnpm-lock.yaml
Due: none

format修正
  src/repository/implement/raceRepositoryFromHtml.ts
  src/utility/data/url.ts
  src/utility/validateAndType/idUtility.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

chore: @cloudflare/workers-typesと@swc/coreのバージョンをそれぞれ4.20251109.0と1.15.1に更新
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): bump googleapis
  .github/workflows/auto-merge-dependabot.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

movie.ts初期コミット
  src/utility/data/movie.ts
Due: eslint --fix, prettier --write

chore: @cloudflare/workers-typesのバージョンを4.20251121.0から4.20251125.0に更新
  package.json
  pnpm-lock.yaml
Due: prettier --write

KEIRINのGP/GⅠ/GⅡ/GⅢグレード時にぺーちゃんねるYouTubeリンクをdescriptionへ追加
  src/utility/googleCalendar.ts
Due: eslint --fix, prettier --write

ぺーちゃんねるYouTubeリンクをcreateYoutubeLiveUrlで生成するよう修正
  src/utility/googleCalendar.ts
Due: eslint --fix, prettier --write

ぺーちゃんねるリンクの改行を条件分岐に含め、余分な改行が入らないよう修正
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
Due: eslint --fix, prettier --write

feat: ぺーちゃんねるのYouTubeリンクを加藤慎平のぺーちゃんねるに修正
  src/utility/googleCalendar.ts
Due: eslint --fix, prettier --write

remove: @types/neat-csv を削除
  package.json
  pnpm-lock.yaml
Due: prettier --write

依存関係の整理: 不要なパッケージの削除・分類の修正
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(husky): add pre-push heavy checks; keep pre-commit lint-staged
  .husky/pre-push
Due: none

chore(workflows): update dependabot workflows
  .github/workflows/auto-approve-dependabot.yml
  .github/workflows/auto-label-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

Update Prettier from 3.6.2 to 3.7.1 (#815)
  package.json
  pnpm-lock.yaml
  src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

chore: remove unused dev deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: centralize cors and routing
  src/controller/calendarController.ts
  src/controller/placeController.ts
  src/controller/playerController.ts
  src/controller/raceController.ts
  src/controller/requestParser.ts
  src/router.ts
  src/utility/cors.ts
Due: eslint --fix, prettier --write

refactor: remove prototype extensions
  src/controller/calendarController.ts
  src/controller/placeController.ts
  src/controller/playerController.ts
  src/controller/raceController.ts
  src/index.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/utility/createRaceName.ts
  src/utility/data/url.ts
  src/utility/format.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
  test/unittest/src/gateway/placeDataHtmlGateway.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
  test/unittest/src/utility/format.test.ts
Due: eslint --fix, prettier --write

feat: harden request validation
  src/controller/calendarController.ts
  src/controller/placeController.ts
  src/controller/playerController.ts
  src/controller/raceController.ts
  src/controller/requestParser.ts
  test/unittest/src/controller/placeController.test.ts
  test/unittest/src/controller/playerController.test.ts
  test/unittest/src/mock/usecase/playerUsecaseMock.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

Refactor: Remove redundant code patterns in Clean Architecture layers (#820)
  src/controller/requestParser.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/service/implement/raceService.ts
  src/usecase/implement/calendarUseCase.ts
Due: eslint --fix, prettier --write

fix: Dependabotの自動マージ条件を修正し、googleapisの依存関係名の取得方法を変更
  .github/workflows/auto-merge-dependabot.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
