Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

refactor(place): extract helpers, fix formatting
  src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

style: コードの整形を改善し、エラーログの出力を見やすくしました
  src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

chore(deploy): set production D1 database_id for deployment
  wrangler.toml
Due: none

chore(deploy): use pnpm update and include --env-file for production deploy script
  package.json
Due: prettier --write

chore: コード変更のためのプレースホルダーを追加
  bun.lock
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: D1データベースのIDを環境変数に置き換え
  wrangler.toml
Due: none

chore: wrangler設定の整理と新規生成スクリプトの追加
  .gitignore
  package.json
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/utility/oldCloudFlareEnv.ts
  wrangler.template.toml
  wrangler.toml
Due: eslint --fix, prettier --write

feat: Google環境変数をデプロイ設定に追加
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

chore: 不要なシークレット環境変数を削除し、Cloudflare Workersのシークレット設定スクリプトを追加 - deploy-prod.ymlおよびdeploy-test.ymlから複数のシークレット環境変数を削除 - 新たにsetup-secrets.shスクリプトを追加し、環境に応じたシークレットの設定を行う
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  packages/api/scripts/setup-secrets.sh
Due: none

feat: APIのREADMEを追加し、settings.local.jsonを作成。package.jsonのdevスクリプトを修正
  .claude/settings.local.json
  packages/api/README.md
  packages/api/package.json
Due: prettier --write

feat: GoogleCalendarGatewayにデバッグ用のログ出力を追加し、setup-secrets.shでprintfを使用してエスケープシーケンスを保持
  packages/api/scripts/setup-secrets.sh
  packages/api/src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

feat: settings.local.jsonにBashコマンドの許可リストにfetchとmergeを追加
  .claude/settings.local.json
Due: prettier --write

debug: GOOGLE_PRIVATE_KEYの状態をログに追加
  packages/api/src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

chore: デバッグログを削除
  .claude/settings.local.json
  packages/api/src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

style: settings.local.jsonのインデントを修正
  .claude/settings.local.json
Due: prettier --write

style: format settings.local.json
  .claude/settings.local.json
Due: prettier --write

refactor: PlaceRepositoryFromHtmlの重複コードを統合
  src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor(raceRepository): use scraping API for NAR/KEIRIN/AUTORACE with HTML fallback
  src/repository/implement/raceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

docs: add packages operation guide and development environment workflows
  .github/workflows/deploy-db-dev.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-scraping-dev.yml
  packages/README.md
  packages/api/package.json
  packages/api/wrangler.toml
  packages/db/wrangler.toml
  packages/scraping/package.json
  packages/scraping/wrangler.toml
Due: prettier --write

style: format README.md with prettier
  packages/README.md
Due: prettier --write

chore: exclude .claude/ from prettier
  .prettierignore
Due: none

feat: pnpmワークスペースの設定ファイルを追加
  .claude/settings.local.json
  packages/batch/README.md
  packages/batch/WORKFLOW.md
  packages/batch/package.json
  packages/batch/src/batch/placeBatch.ts
  packages/batch/src/batch/raceBatch.ts
  packages/batch/src/cli.ts
  packages/batch/src/client/apiClient.ts
  packages/batch/src/converter/placeConverter.ts
  packages/batch/src/converter/placeMasterMap.ts
  packages/batch/src/converter/raceConverter.ts
  packages/batch/src/index.ts
  packages/batch/src/types/apiResponse.ts
  packages/batch/src/types/batchConfig.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

docs: README.mdとWORKFLOW.mdの内容を整理し、環境設定の優先順位を明確化
  packages/batch/README.md
  packages/batch/WORKFLOW.md
Due: prettier --write

batch: use CF_PREFIX env loader; fix lint/type issues in batch
  packages/batch/src/cli.ts
Due: eslint --fix, prettier --write
