Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

依存パッケージの更新とpnpm installの修正
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: improve dependabot grouping by semantic version
  .github/dependabot.yml
Due: none

feat: モノレポ+マイクロサービス構成へのリファクタリング - 基本パッケージ構成を作成
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/tsconfig.json
  packages/batch/package.json
  packages/batch/src/index.ts
  packages/batch/tsconfig.json
  packages/db/README.md
  packages/db/package.json
  packages/front/README.md
  packages/front/package.json
  packages/scraping/package.json
  packages/scraping/src/index.ts
  packages/scraping/tsconfig.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/types/domain.ts
  packages/shared/src/types/index.ts
  packages/shared/src/utilities/index.ts
  packages/shared/tsconfig.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat: DBパッケージのデプロイサイクル構築
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
  packages/api/package.json
  packages/api/tsconfig.json
  packages/batch/package.json
  packages/batch/tsconfig.json
  packages/db/README.md
  packages/db/SETUP.md
  packages/db/migrations/0001_create_place_grade_table.sql
  packages/db/migrations/0002_create_place_table.sql
  packages/db/package.json
  packages/db/setup-local.sh
  packages/front/package.json
  packages/scraping/package.json
  packages/scraping/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
Due: prettier --write

fix: GitHub ActionsのYAMLシンタックスエラーを修正
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
Due: none

feat: Cloudflare D1データベースを作成して設定を更新
  packages/db/package.json
Due: prettier --write

fix: 空のモジュールにexport文を追加してTypeScriptエラーを修正
  packages/shared/src/types/domain.ts
  packages/shared/src/utilities/index.ts
Due: eslint --fix, prettier --write

fix: packages配下のlintとtype-checkエラーを修正
  eslint.config.mjs
  package.json
  packages/api/src/index.ts
  packages/batch/src/index.ts
  packages/db/README.md
  packages/db/SETUP.md
  packages/scraping/src/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types/domain.ts
  packages/shared/src/types/index.ts
  packages/shared/src/utilities/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: CI環境のNode.jsバージョンを24に統一
  .github/actions/linter/eslint/action.yml
  .github/actions/linter/prettier/action.yml
  .github/actions/linter/type-check/action.yml
  .github/actions/test/unit/action.yml
  pnpm-lock.yaml
Due: none

feat: Node.jsバージョンを.nvmrcで一元管理
  .github/NODE_VERSION_MANAGEMENT.md
  .github/actions/linter/eslint/action.yml
  .github/actions/linter/prettier/action.yml
  .github/actions/linter/type-check/action.yml
  .github/actions/test/unit/action.yml
  .github/workflows/deploy-db-production.yml
  .github/workflows/deploy-db-test.yml
  .nvmrc
  README.md
Due: prettier --write

style: Prettierでフォーマット修正
  .github/NODE_VERSION_MANAGEMENT.md
  README.md
Due: prettier --write

chore: make .nvmrc resolvable by actions/setup-node (use '24')
  .nvmrc
Due: none

chore: update SearchPlaceFilterEntity docs
  src/gateway/implement/googleCalendarGateway.ts
  src/repository/entity/filter/searchPlaceFilterEntity.ts
  src/repository/implement/playerRepository.ts
Due: eslint --fix, prettier --write

chore: add RaceType imports and run eslint --fix
  eslint.config.mjs
  src/controller/requestParser.ts
  src/domain/calendarData.ts
  src/domain/placeData.ts
  src/domain/raceData.ts
  src/domain/racePlayerData.ts
  src/gateway/implement/placeDataHtmlGateway.ts
  src/gateway/implement/raceDataHtmlGateway.ts
  src/gateway/interface/iCalendarGateway.ts
  src/gateway/interface/iPlaceDataHtmlGateway.ts
  src/gateway/interface/iRaceDataHtmlGateway.ts
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/repository/entity/filter/searchCalendarFilterEntity.ts
  src/repository/entity/filter/searchPlayerFilterEntity.ts
  src/repository/entity/filter/searchRaceFilterEntity.ts
  src/repository/entity/playerEntity.ts
  test/unittest/src/domain/calendarData.test.ts
  test/unittest/src/mock/gateway/mockGoogleCalendarGateway.ts
  test/unittest/src/mock/repository/mockRaceRepository.ts
Due: eslint --fix, prettier --write

chore: move SearchPlaceFilterEntity to packages/api and update imports
  packages/api/src/usecase/dto/searchPlaceFilterEntity.ts
  src/repository/entity/filter/oldSearchPlaceFilterEntity.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/interface/IPlaceUsecase.ts
Due: eslint --fix, prettier --write

chore: add compatibility re-export for SearchPlaceFilterEntity and update imports
  src/repository/entity/filter/searchPlaceFilterEntity.ts
  src/usecase/implement/placeUsecase.ts
Due: eslint --fix, prettier --write

chore: searchPlaceFilterEntityを削除し、packages/apiからのインポートを整理
  src/repository/entity/filter/searchPlaceFilterEntity.ts
Due: eslint --fix, prettier --write

fix: add compatibility export for SearchPlaceFilterEntity, init placeEntityList, fix husky pre-push
  .husky/pre-push
  src/repository/entity/filter/searchPlaceFilterEntity.ts
  src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

chore: add OldSearchPlaceFilterEntity imports and fix DTO import paths
  src/controller/placeController.ts
  src/repository/entity/filter/searchPlaceFilterEntity.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/interface/IPlaceRepository.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/service/implement/placeService.ts
  src/service/interface/IPlaceService.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/implement/raceUsecase.ts
  test/unittest/repository/placeRepositoryFromStorage.test.ts
  test/unittest/src/mock/repository/mockPlaceRepository.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/service/placeService.test.ts
  test/unittest/src/usecase/placeUseCase.test.ts
  test/unittest/src/usecase/playerUseCase.test.ts
Due: eslint --fix, prettier --write

新しい処理を追加
  src/utility/data/course.ts
Due: eslint --fix, prettier --write

Courseドメインエンティティ新規作成
  packages/api/src/domain/course.ts
  src/gateway/mock/mockRaceDataHtmlGateway.ts
  src/utility/data/course.ts
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
  src/utility/validateAndType/raceCourse.ts
Due: eslint --fix, prettier --write

fix: Cloudflare Workers型定義エラー解消・tsconfig typeRoots調整
  packages/api/src/domain/course.ts
  packages/api/src/repository/implement/courseRepositoryStub.ts
  packages/api/src/repository/interface/ICourseRepository.ts
  packages/api/tsconfig.json
  packages/shared/src/types/course.ts
  packages/shared/src/types/courseCodeType.ts
  packages/shared/src/utilities/course.ts
  src/gateway/mock/mockRaceDataHtmlGateway.ts
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
  src/utility/validateAndType/raceCourse.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: Cloudflare Workers型定義エラー解消・tsconfig typeRoots調整
  packages/api/tsconfig.json
  tsconfig.json
Due: prettier --write

fix: CourseCodeTypeのimportをcourseCodeType.tsから直接value importに修正
  src/gateway/mock/mockRaceDataHtmlGateway.ts
Due: eslint --fix, prettier --write

fix: CourseService メソッド名を fetch に変更・アクセシビリティ修正
  packages/api/src/service/CourseService.ts
Due: eslint --fix, prettier --write

feat: tsyringe導入・ICourseServiceインターフェースと実装分離
  packages/api/src/service/CourseService.ts
  packages/api/src/service/ICourseService.ts
Due: eslint --fix, prettier --write

refactor: service層をinterface/implementで分離・ファイル移動
  packages/api/src/service/implement/CourseService.ts
  packages/api/src/service/interface/ICourseService.ts
Due: eslint --fix, prettier --write

test: add CourseService tests and make setup vitest globals TS; service: pass through empty course list; eslint: relax unsafe assertion rule
  eslint.config.mjs
  packages/api/package.json
  packages/api/src/service/implement/CourseService.ts
  packages/api/test/courseService.test.ts
  packages/api/vitest.config.ts
  pnpm-lock.yaml
  test/setup-vitest-globals.ts
Due: eslint --fix, prettier --write

docs: remove non-watch test instruction from TEST_CREATION_GUIDELINES
  document/TEST_CREATION_GUIDELINES.md
Due: prettier --write

docs: remove non-watch wording from test creation guidelines
  document/TEST_CREATION_GUIDELINES.md
  packages/api/package.json
  packages/api/src/usecase/implement/courseUseCase.ts
  packages/api/src/usecase/interface/ICourseUseCase.ts
  packages/api/test/courseUseCase.test.ts
Due: eslint --fix, prettier --write

ci: add workflow to run packages/api tests when api or shared change
  .github/workflows/api-tests.yml
  document/TEST_CREATION_GUIDELINES.md
Due: prettier --write

chore: workspace - exclude YAML from trailing-spaces (workspace settings)
  .github/workflows/conditional-tests.yml
Due: none

ci: api-tests - use Node 24 and allow pnpm install without frozen lockfile
  .github/workflows/api-tests.yml
Due: none

ci: remove redundant api-tests.yml (use conditional-tests.yml)
  .github/workflows/api-tests.yml
Due: none

ci: conditional-tests - use .nvmrc and pnpm cache; relax frozen-lockfile for CI
  .github/workflows/conditional-tests.yml
Due: none

ci: ensure pnpm via corepack in conditional-tests workflow
  .github/workflows/conditional-tests.yml
Due: none

ci: conditional-tests - ensure pnpm available via corepack + npm fallback
  .github/workflows/conditional-tests.yml
Due: none

ci: conditional-tests - persist npm global bin to PATH after pnpm fallback install
  .github/workflows/conditional-tests.yml
Due: none

fix: pnpmが見つからない問題のためCorepackでpnpm準備→setup-nodeの順に修正
  .github/workflows/conditional-tests.yml
  document/CI_TEST_MAPPING.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
