Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: コードの可読性向上のための空白の追加
  lib/src/domain/heldDayData.ts
  lib/src/domain/houseRaceConditionData.ts
  lib/src/domain/placeData.ts
  lib/src/domain/raceData.ts
  lib/src/domain/racePlayerData.ts
  lib/src/gateway/implement/s3Gateway.ts
  lib/src/gateway/interface/iS3Gateway.ts
  lib/src/gateway/mock/mockPlaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockRaceDataHtmlGateway.ts
  lib/src/repository/entity/raceEntity.ts
  lib/src/repository/interface/IPlayerRepository.ts
  lib/src/repository/interface/IRaceRepository.ts
  lib/src/service/implement/publicGamblingCalendarService.ts
  lib/src/usecase/interface/IPlaceDataUseCase.ts
Due: eslint --fix, prettier --write

refactor: デバッグ出力を改善し、raceTypeを追加
  lib/src/repository/implement/autoraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/boatraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/jraRaceRepositoryFromHtml.ts
  lib/src/repository/implement/keirinRaceRepositoryFromHtml.ts
  lib/src/repository/implement/narRaceRepositoryFromHtml.ts
  lib/src/repository/implement/overseasRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockHorseRacingRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: コードの可読性向上と不要な関数の削除
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/repository/entity/playerEntity.ts
  test/unittest/src/domain/horseRaceConditionData.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/service/implement/publicGamblingRaceDataService.test.ts
  test/unittest/src/utility/data/common/gradeType.test.ts
  test/unittest/src/utility/data/common/positionNumber.test.ts
Due: eslint --fix, prettier --write

feat(mockS3Gateway): レースデータのCSVヘッダーにIDを追加
  lib/src/gateway/mock/mockS3Gateway.ts
Due: eslint --fix, prettier --write

feat(mockS3Gateway): グレード生成ロジックのリファクタリングとデフォルト値の使用
  lib/src/gateway/mock/mockS3Gateway.ts
Due: eslint --fix, prettier --write

feat: baseCommonDataからdefaultLocationをインポートして使用するように変更
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/repository/mock/mockPlaceRepositoryFromHtml.ts
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

feat: JRAのデフォルト開催日データを修正
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

feat: defaultHeldDayDataのインポートと使用を追加
  lib/src/repository/mock/mockPlaceRepositoryFromHtml.ts
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

feat: defaultPlaceGradeのインポートと使用を追加
  eslint.config.mjs
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

feat: defaultPlaceGradeのインポートと使用を追加
  test/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

Refactor race type constants and update usages across the codebase
  lib/src/gateway/mock/mockGoogleCalendarGateway.ts
  lib/src/service/implement/publicGamblingPlaceDataService.ts
  lib/src/service/implement/publicGamblingRaceDataService.ts
  lib/src/usecase/implement/publicGamblingCalendarUseCase.ts
  lib/src/usecase/implement/publicGamblingRaceDataUseCase.ts
  lib/src/utility/raceType.ts
  test/integrationtest/src/usecase-service/publicGamblingPlaceDataUseCase-publicGamblingPlaceDataService.test.ts
  test/unittest/src/domain/playerData.test.ts
  test/unittest/src/domain/racePlayerData.test.ts
  test/unittest/src/gateway/record/horseRacingRaceRecord.test.ts
  test/unittest/src/gateway/record/placeRecord.test.ts
  test/unittest/src/repository/entity/placeEntity.test.ts
  test/unittest/src/repository/entity/raceEntity.test.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
  test/unittest/src/service/implement/publicGamblingCalendarService.test.ts
  test/unittest/src/service/implement/publicGamblingPlaceDataService.test.ts
  test/unittest/src/service/implement/publicGamblingRaceDataService.test.ts
  test/unittest/src/usecase/implement/publicGamblingCalendarUseCase.test.ts
  test/unittest/src/usecase/implement/publicGamblingPlaceDataUseCase.test.ts
  test/unittest/src/usecase/implement/publicGamblingRaceDataUseCase.test.ts
  test/unittest/src/utility/data/common/gradeType.test.ts
  test/unittest/src/utility/data/common/positionNumber.test.ts
  test/unittest/src/utility/data/common/raceStage.test.ts
Due: eslint --fix, prettier --write

feat: PlayerDataのインスタンス生成メソッドにエラーハンドリングを追加
  lib/src/domain/playerData.ts
Due: eslint --fix, prettier --write

feat: レースタイプリストを使用してコードを簡素化
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/utility/data/common/gradeType.ts
  lib/src/utility/data/common/placeId.ts
  lib/src/utility/data/common/positionNumber.ts
  lib/src/utility/data/common/raceCourse.ts
  lib/src/utility/data/common/raceId.ts
  lib/src/utility/data/common/racePlayerId.ts
  lib/src/utility/data/common/raceStage.ts
  test/integrationtest/src/usecase-service/publicGamblingPlaceDataUseCase-publicGamblingPlaceDataService.test.ts
  test/unittest/src/gateway/record/mechanicalRacingRaceRecord.test.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/utility/data/common/placeId.test.ts
Due: eslint --fix, prettier --write

feat: raceIdとplaceIdのテストを改善
  test/unittest/src/utility/data/common/placeId.test.ts
  test/unittest/src/utility/data/common/raceId.test.ts
Due: eslint --fix, prettier --write

feat: MockS3Gatewayのレースデータ生成を改善
  lib/src/gateway/mock/mockS3Gateway.ts
Due: eslint --fix, prettier --write

fix(controller): 公営競技コントローラーのgradeList処理を修正
  eslint.config.mjs
  lib/src/controller/publicGamblingController.ts
Due: eslint --fix, prettier --write

fix(eslint): eslint-disableの乱用を許可するルールを追加
  eslint.config.mjs
Due: prettier --write

fix(eslint): any型の型アサーションを許可するルールを追加
  eslint.config.mjs
Due: prettier --write

fix(eslint): any型の代入を許可するルールを追加
  eslint.config.mjs
Due: prettier --write

fix(eslint): テストファイルに関するESLintルールを緩和
  eslint.config.mjs
Due: prettier --write

fix(eslint): ループ内での関数定義を禁止するルールを無効化
  eslint.config.mjs
Due: prettier --write

fix(eslint): JSDocルールの修正とテストファイル用のルール追加
  eslint.config.mjs
Due: prettier --write

fix(eslint): any型の型アサーションを許可するルールを特定のファイルに追加
  eslint.config.mjs
Due: prettier --write

fix(eslint): utility/env.tsファイルに対するルールを追加
  eslint.config.mjs
Due: prettier --write

fix(eslint): 特定ファイルに対する使用前定義のルールを無効化
  eslint.config.mjs
Due: prettier --write

feat: レース関連のモックデータを追加し、テストでの使用を統一
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
  test/unittest/src/service/implement/publicGamblingCalendarService.test.ts
  test/unittest/src/service/implement/publicGamblingPlaceDataService.test.ts
  test/unittest/src/service/implement/publicGamblingRaceDataService.test.ts
  test/unittest/src/usecase/implement/publicGamblingCalendarUseCase.test.ts
  test/unittest/src/usecase/implement/publicGamblingPlaceDataUseCase.test.ts
  test/unittest/src/usecase/implement/publicGamblingRaceDataUseCase.test.ts
Due: eslint --fix, prettier --write

fix(eslint): テストファイルのルール設定を整理し、ファイルリストを整形
  eslint.config.mjs
Due: prettier --write

refactor: 各サービスおよびインターフェースのコメントを整理し、説明を明確化
  lib/src/service/implement/playerDataService.ts
  lib/src/service/implement/publicGamblingCalendarService.ts
  lib/src/service/implement/publicGamblingPlaceDataService.ts
  lib/src/service/interface/ICalendarService.ts
  lib/src/service/interface/IPlaceDataService.ts
  lib/src/service/interface/IPlayerDataService.ts
  lib/src/usecase/implement/publicGamblingPlaceDataUseCase.ts
  lib/src/usecase/implement/publicGamblingPlayerUseCase.ts
  lib/src/usecase/implement/publicGamblingRaceDataUseCase.ts
  lib/src/usecase/interface/IPlaceDataUseCase.ts
  lib/src/usecase/interface/IPlayerDataUseCase.ts
  lib/src/usecase/interface/IRaceCalendarUseCase.ts
  lib/src/usecase/interface/IRaceDataUseCase.ts
Due: eslint --fix, prettier --write

fix: jest.config.jsのカバレッジ除外リストに複数のファイルを追加
  jest.config.js
Due: none

fix: jest.config.jsのカバレッジ除外リストを整理し、不要なコメントを削除、ファイルを追加
  jest.config.js
Due: none

refactor: PublicGamblingRaceDataUseCaseのレスポンス処理を簡素化し、raceDataServiceの戻り値を直接返すように変更 test: raceRepositoryFromStorage.test.tsのレースタイプのテストケースを整理し、期待される呼び出し回数を統一
  lib/src/usecase/implement/publicGamblingRaceDataUseCase.ts
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: registerRaceEntityListの呼び出しをリポジトリ変数を使用して簡素化
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: heldDayRecordのテストをリファクタリングし、raceTypeに基づいて動的に生成するように変更
  test/unittest/src/gateway/record/heldDayRecord.test.ts
Due: eslint --fix, prettier --write

refactor: RacePlayerRecordのテストをリファクタリングし、raceTypeに基づいて動的に生成するように変更。バリデーションテストを整理し、コピー機能のテストを追加。
  test/unittest/src/gateway/record/racePlayerRecord.test.ts
Due: eslint --fix, prettier --write

refactor: RaceRepositoryFromStorageのテストを整理し、レース開催データの取得テストを動的に生成するように変更。registerRaceListのテストを改善し、データ登録の検証を強化。
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: raceTypeListを定義し、RACE_TYPE_LIST_ALLの代わりに使用するように変更。registerRaceListのテストでraceTypeListを利用し、可読性を向上させた。また、makeRaceEntityListの生成数を12から6に減少させ、テストの効率を改善した。
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: makeRaceEntityListの生成数を10から5に減少させ、テストの効率を改善した。
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: HTML_FETCH_DELAY_MS環境変数を追加し、fetchRaceEntityListメソッドの待機時間を動的に設定するように変更。package.jsonのテストスクリプトに環境変数を適用し、テスト実行時の待機時間を0に設定。
  lib/src/repository/implement/autoraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/boatraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/keirinRaceRepositoryFromHtml.ts
  lib/src/repository/implement/overseasRaceRepositoryFromHtml.ts
  package.json
Due: eslint --fix, prettier --write

refactor: IS_SHORT_TEST環境変数を追加し、テスト実行時のデータ取得を動的に制御するように変更。placeRepositoryFromHtml.test.tsおよびraceRepositoryFromStorage.test.tsでテストケースの数を環境変数に基づいて調整。
  lib/src/utility/env.ts
  package.json
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
