Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint --fix, prettier --write

typedocの修正
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/usecase/implement/jraRaceDataUseCase.ts
  lib/src/usecase/implement/narRaceDataUseCase.ts
  lib/src/usecase/implement/worldRaceDataUseCase.ts
  typedoc.json
Due: tsc --noEmit, eslint --fix, prettier --write

ドキュメントの更新
  lib/src/usecase/implement/jraPlaceDataUseCase.ts
  lib/src/utility/data/world/worldPlaceId.ts
Due: tsc --noEmit, eslint --fix, prettier --write

コメントの追加
  lib/src/domain/iPlaceData.ts
  lib/src/domain/iRaceData.ts
  lib/src/gateway/interface/iCalendarGateway.ts
  lib/src/gateway/interface/iJraPlaceDataHtmlGateway.ts
  lib/src/gateway/interface/iJraRaceDataHtmlGateway.ts
  lib/src/gateway/interface/iS3Gateway.ts
  lib/src/gateway/record/iRecord.ts
  lib/src/repository/entity/iPlaceEntity.ts
  lib/src/repository/entity/iRaceEntity.ts
  lib/src/repository/interface/ICalendarRepository.ts
  lib/src/repository/interface/IPlaceRepository.ts
  lib/src/repository/interface/IRaceRepository.ts
  lib/src/service/implement/baseCalendarService.ts
  lib/src/service/implement/basePlaceDataService.ts
  lib/src/service/implement/baseRaceDataService.ts
  lib/src/service/interface/ICalendarService.ts
  lib/src/service/interface/IPlaceDataService.ts
  lib/src/service/interface/IRaceDataService.ts
  lib/src/utility/dataType.ts
  lib/src/utility/date.ts
  lib/src/utility/env.ts
  lib/src/utility/error.ts
  lib/src/utility/googleCalendar.ts
Due: tsc --noEmit, eslint --fix, prettier --write

loggerの変更
  lib/src/utility/logger.ts
Due: tsc --noEmit, eslint --fix, prettier --write

後で使う
  bin/cdk-race-schedule-app.ts
  cdk.context.json
  lib/cdk-race-schedule-app-stack.ts
  lib/stack/efs-setup.ts
  lib/stack/lambda-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

Update auto-merge-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

Update auto-merge-dependabot.yml (#270)
  .github/workflows/auto-merge-dependabot.yml
Due: none

dependabotの修正
  .github/workflows/auto-approve-dependabot.yml
  .github/workflows/auto-label-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/fetch-metadata-dependabot.yml
Due: none

不要な設定を削除
  lib/cdk-race-schedule-app-stack.ts
  lib/stack/iam-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

改修
  lib/cdk-race-schedule-app-stack.ts
  lib/stack/efs-setup.ts
  lib/stack/iam-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

fix dependabot
  .github/workflows/auto-label-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

追加
  .github/workflows/auto-merge-dependabot.yml
Due: none

修正
  .github/workflows/dependabot-workflow.yml
Due: none

修正
  .github/workflows/auto-merge-dependabot.yml
Due: none

Usecaseのコメント追加
  lib/src/usecase/implement/autoracePlaceDataUseCase.ts
  lib/src/usecase/implement/autoraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/autoraceRaceDataUseCase.ts
  lib/src/usecase/implement/boatracePlaceDataUseCase.ts
  lib/src/usecase/implement/boatraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/boatraceRaceDataUseCase.ts
  lib/src/usecase/implement/jraRaceDataUseCase.ts
  lib/src/usecase/implement/keirinPlaceDataUseCase.ts
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
  lib/src/usecase/implement/keirinRaceDataUseCase.ts
  lib/src/usecase/implement/narPlaceDataUseCase.ts
  lib/src/usecase/implement/narRaceDataUseCase.ts
  lib/src/usecase/implement/worldRaceDataUseCase.ts
Due: tsc --noEmit, eslint --fix, prettier --write

Usecaseのコメント追加
  lib/src/usecase/implement/jraRaceCalendarUseCase.ts
  lib/src/usecase/implement/narRaceCalendarUseCase.ts
  lib/src/usecase/implement/worldRaceCalendarUseCase.ts
Due: tsc --noEmit, eslint --fix, prettier --write

コメントの修正
  lib/src/usecase/implement/autoraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/autoraceRaceDataUseCase.ts
  lib/src/usecase/implement/boatraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/boatraceRaceDataUseCase.ts
  lib/src/usecase/implement/jraRaceCalendarUseCase.ts
  lib/src/usecase/implement/jraRaceDataUseCase.ts
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
  lib/src/usecase/implement/keirinRaceDataUseCase.ts
  lib/src/usecase/implement/worldRaceCalendarUseCase.ts
  lib/src/usecase/implement/worldRaceDataUseCase.ts
Due: tsc --noEmit, eslint --fix, prettier --write

dependabotの修正
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/dependabot-workflow.yml
Due: none

eslintにeslint-plugin-jsdocを設定
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

不要なファイルを見ないようにする
  .lintstagedrc
  eslint.config.mjs
  package.json
Due: prettier --write

eslintの設定変更
  eslint.config.mjs
Due: prettier --write

jsdoc/require-paramの適用
  eslint.config.mjs
  lib/src/controller/autoraceRaceController.ts
  lib/src/controller/boatraceRaceController.ts
  lib/src/controller/jraRaceController.ts
  lib/src/controller/keirinRaceController.ts
  lib/src/controller/narRaceController.ts
  lib/src/controller/worldRaceController.ts
  lib/src/gateway/implement/autoraceRaceDataHtmlGateway.ts
  lib/src/gateway/implement/keirinRaceDataHtmlGateway.ts
  lib/src/gateway/implement/narRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockAutoraceRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockBoatraceRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockKeirinRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockNarRaceDataHtmlGateway.ts
  lib/src/repository/implement/jraRaceRepositoryFromHtmlImpl.ts
  lib/src/usecase/implement/autoraceRaceDataUseCase.ts
  lib/src/usecase/implement/boatraceRaceDataUseCase.ts
  lib/src/usecase/implement/jraRaceDataUseCase.ts
  lib/src/usecase/implement/keirinRaceDataUseCase.ts
  lib/src/usecase/implement/narRaceDataUseCase.ts
  lib/src/usecase/implement/worldRaceDataUseCase.ts
  lib/src/utility/data/autorace/autoracePlayerNumber.ts
  lib/src/utility/data/autorace/autoracePositionNumber.ts
  lib/src/utility/data/autorace/autoraceRaceCourse.ts
  lib/src/utility/data/boatrace/boatracePlayerNumber.ts
  lib/src/utility/data/boatrace/boatracePositionNumber.ts
  lib/src/utility/data/boatrace/boatraceRaceCourse.ts
  lib/src/utility/data/jra/jraRaceCourse.ts
  lib/src/utility/data/jra/jraRaceDistance.ts
  lib/src/utility/data/keirin/keirinPlayerNumber.ts
  lib/src/utility/data/keirin/keirinPositionNumber.ts
  lib/src/utility/data/keirin/keirinRaceCourse.ts
  lib/src/utility/data/nar/narRaceCourse.ts
  lib/src/utility/data/nar/narRaceDistance.ts
  lib/src/utility/data/world/worldRaceCourse.ts
  lib/src/utility/data/world/worldRaceDistance.ts
  lib/src/utility/format.ts
  lib/src/utility/raceName.ts
  lib/src/utility/sqlite.ts
  test/utility/testDecorators.ts
Due: tsc --noEmit, eslint --fix, prettier --write

jsdoc/require-param-nameの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/require-propertyの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/require-property-nameの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/tag-linesの適用
  eslint.config.mjs
  lib/src/domain/iPlaceData.ts
  lib/src/domain/iRaceData.ts
  lib/src/gateway/interface/iCalendarGateway.ts
  lib/src/gateway/interface/iJraPlaceDataHtmlGateway.ts
  lib/src/gateway/interface/iJraRaceDataHtmlGateway.ts
  lib/src/gateway/interface/iS3Gateway.ts
  lib/src/gateway/record/iRecord.ts
  lib/src/repository/entity/iPlaceEntity.ts
  lib/src/repository/entity/iRaceEntity.ts
  lib/src/repository/interface/ICalendarRepository.ts
  lib/src/repository/interface/IPlaceRepository.ts
  lib/src/repository/interface/IRaceRepository.ts
  lib/src/service/implement/baseCalendarService.ts
  lib/src/service/implement/basePlaceDataService.ts
  lib/src/service/implement/baseRaceDataService.ts
  lib/src/service/interface/ICalendarService.ts
  lib/src/service/interface/IPlaceDataService.ts
  lib/src/service/interface/IRaceDataService.ts
  lib/src/usecase/implement/jraPlaceDataUseCase.ts
  lib/src/utility/dataType.ts
  lib/src/utility/date.ts
  lib/src/utility/env.ts
  lib/src/utility/error.ts
  lib/src/utility/googleCalendar.ts
  lib/src/utility/logger.ts
  lib/src/utility/raceId.ts
  lib/src/utility/raceName.ts
Due: tsc --noEmit, eslint --fix, prettier --write

jsdoc/valid-typesの適用
  eslint.config.mjs
  lib/src/service/implement/basePlaceDataService.ts
  lib/src/service/implement/baseRaceDataService.ts
Due: tsc --noEmit, eslint --fix, prettier --write

jsdoc/no-undefined-typesの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/empty-tagsの適用
  eslint.config.mjs
  lib/src/repository/entity/iRaceEntity.ts
Due: tsc --noEmit, eslint --fix, prettier --write

jsdoc/implements-on-classesの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/multiline-blocksの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/no-bad-blocksの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/no-defaultsの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/check-accessの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/check-alignmentの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/check-property-namesの適用
  eslint.config.mjs
Due: prettier --write

jsdoc/require-hyphen-before-param-descriptionの適用
  eslint.config.mjs
  lib/src/controller/autoraceRaceController.ts
  lib/src/controller/boatraceRaceController.ts
  lib/src/controller/jraRaceController.ts
  lib/src/controller/keirinRaceController.ts
  lib/src/controller/narRaceController.ts
  lib/src/controller/worldRaceController.ts
  lib/src/gateway/interface/iAutoraceRaceDataHtmlGateway.ts
  lib/src/gateway/interface/iBoatraceRaceDataHtmlGateway.ts
  lib/src/gateway/interface/iKeirinRaceDataHtmlGateway.ts
  lib/src/gateway/interface/iNarRaceDataHtmlGateway.ts
  lib/src/gateway/interface/iWorldRaceDataHtmlGateway.ts
  lib/src/utility/raceName.ts
  test/utility/testDecorators.ts
Due: tsc --noEmit, eslint --fix, prettier --write

jsdocの改修
  eslint.config.mjs
  lib/src/domain/iPlaceData.ts
  lib/src/domain/iRaceData.ts
  lib/src/gateway/interface/iCalendarGateway.ts
  lib/src/gateway/interface/iJraPlaceDataHtmlGateway.ts
  lib/src/gateway/interface/iS3Gateway.ts
  lib/src/gateway/record/iRecord.ts
  lib/src/repository/entity/iPlaceEntity.ts
  lib/src/repository/interface/ICalendarRepository.ts
  lib/src/repository/interface/IPlaceRepository.ts
  lib/src/repository/interface/IRaceRepository.ts
  lib/src/service/implement/baseRaceDataService.ts
  lib/src/service/interface/IPlaceDataService.ts
  lib/src/service/interface/IRaceDataService.ts
  lib/src/utility/data/movie.ts
  lib/src/utility/dataType.ts
  lib/src/utility/env.ts
  lib/src/utility/error.ts
  lib/src/utility/format.ts
  lib/src/utility/raceName.ts
  test/src/mock/service/calendarServiceMock.ts
  test/src/mock/service/placeDataServiceMock.ts
  test/src/mock/service/raceDataServiceMock.ts
Due: tsc --noEmit, eslint --fix, prettier --write

地方競馬ライブのリンクを削除
  lib/src/repository/entity/narRaceEntity.ts
  lib/src/utility/data/movie.ts
Due: tsc --noEmit, eslint --fix, prettier --write

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
