Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": [
        "tsc --noEmit",
        "eslint --fix",
        "prettier --write"
    ],
    "*.{cjs,mjs,md,json}": [
        "prettier --write"
    ]
}

テストの整理
  .husky/pre-commit
  lib/src/utility/env.ts
  test/utility/testDecorators.ts
Due: tsc --noEmit, eslint --fix, prettier --write

テストの整理
  .lintstagedrc
  lib/src/gateway/mock/mockAutoraceRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockBoatracePlaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockBoatraceRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockJraPlaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockJraRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockKeirinPlaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockKeirinRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockNarPlaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockNarRaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockS3Gateway.ts
  lib/src/gateway/mock/mockWorldRaceDataHtmlGateway.ts
  package.json
  test/src/repository/implement/autoracePlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/autoraceRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/boatracePlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/boatraceRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/jraPlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/jraRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/keirinPlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/keirinRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/narPlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/narRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/worldRaceRepositoryFromHtmlImpl.test.ts
  test/utility/testDecorators.ts
Due: tsc --noEmit, eslint --fix, prettier --write

不要な判定の削除
  lib/src/repository/implement/autoracePlaceRepositoryFromHtmlImpl.ts
Due: tsc --noEmit, eslint --fix, prettier --write

eslintの整理
  eslint.config.mjs
  lib/src/service/implement/basePlaceDataService.ts
Due: tsc --noEmit, eslint --fix, prettier --write

eslintの整理
  lib/src/service/implement/baseRaceDataService.ts
Due: tsc --noEmit, eslint --fix, prettier --write

テストの修正
  lib/src/gateway/implement/googleCalendarGateway.ts
  lib/src/gateway/record/autoracePlaceRecord.ts
  lib/src/gateway/record/autoraceRaceRecord.ts
  lib/src/gateway/record/boatraceRacePlayerRecord.ts
  lib/src/gateway/record/boatraceRaceRecord.ts
  lib/src/gateway/record/jraPlaceRecord.ts
  lib/src/gateway/record/jraRaceRecord.ts
  lib/src/gateway/record/keirinPlaceRecord.ts
  lib/src/gateway/record/keirinRacePlayerRecord.ts
  lib/src/gateway/record/keirinRaceRecord.ts
  lib/src/gateway/record/narPlaceRecord.ts
  lib/src/utility/error.ts
Due: tsc --noEmit, eslint --fix, prettier --write

テストの修正
  lib/src/gateway/record/autoraceRacePlayerRecord.ts
  lib/src/gateway/record/boatracePlaceRecord.ts
Due: tsc --noEmit, eslint --fix, prettier --write

テストの修正
  jest.config.js
  lib/src/repository/entity/jraRaceEntity.ts
  lib/src/repository/entity/narRaceEntity.ts
  lib/src/repository/entity/worldPlaceEntity.ts
  test/src/repository/entity/jraRaceEntity.test.ts
  test/src/repository/entity/narRaceEntity.test.ts
  test/src/utility/error.test.ts
Due: tsc --noEmit, eslint --fix, prettier --write

テストの作成
  lib/src/utility/format.ts
  lib/src/utility/raceName.ts
  test/src/utility/format.test.ts
Due: tsc --noEmit, eslint --fix, prettier --write

閾値を変更
  jest.config.js
Due: none

閾値をCIテスト時に入れたくない
  jest.config.js
Due: none

sqlite3を追加
  package.json
  pnpm-lock.yaml
Due: prettier --write

dbを除外する
  .gitignore
Due: none

sqliteのデータ追加
  lib/scripts/check-sqlite.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
  lib/src/utility/sqlite.ts
Due: tsc --noEmit, eslint --fix, prettier --write

sqliteを使えるように変更
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/scripts/check-sqlite.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
Due: tsc --noEmit, eslint --fix, prettier --write

placesテーブルを作成
  lib/scripts/check-sqlite.ts
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
  lib/src/utility/sqlite.ts
Due: tsc --noEmit, eslint --fix, prettier --write

sqliteを追加
  lib/scripts/check-sqlite.ts
  lib/src/utility/sqlite.ts
Due: tsc --noEmit, eslint --fix, prettier --write

localのみsqliteに変更
  lib/container/repository/placeRepositoryFromStorageConfig.ts
Due: tsc --noEmit, eslint --fix, prettier --write

stackの整理
  lib/cdk-race-schedule-app-stack.ts
  lib/stack/efs-setup.ts
  lib/stack/iam-setup.ts
  lib/stack/lambda-setup.ts
  lib/stack/vpc-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

sqliteを改修
  lib/src/utility/sqlite.ts
Due: tsc --noEmit, eslint --fix, prettier --write

configの変更
  lib/container/repository/placeRepositoryFromStorageConfig.ts
Due: tsc --noEmit, eslint --fix, prettier --write

efs処理の追加
  lib/cdk-race-schedule-app-stack.ts
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/stack/efs-setup.ts
  lib/stack/lambda-setup.ts
  lib/stack/vpc-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

追加
  lib/src/repository/implement/narPlaceRepositoryFromSqliteImpl.ts
Due: tsc --noEmit, eslint --fix, prettier --write

sqliteの修正
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/scripts/check-sqlite.ts
Due: tsc --noEmit, eslint --fix, prettier --write

setupを追加
  lib/cdk-race-schedule-app-stack.ts
  lib/src/utility/sqlite.ts
  lib/stack/efs-setup.ts
  lib/stack/iam-setup.ts
  lib/stack/lambda-setup.ts
  lib/stack/vpc-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

一度保存
  lib/cdk-race-schedule-app-stack.ts
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/stack/efs-init.ts
  lib/stack/efs-setup.ts
  lib/stack/lambda-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

修正
  .vscode/settings.json
  lib/container/repository/calendarRepositoryConfig.ts
  lib/container/repository/index.ts
Due: tsc --noEmit, eslint --fix, prettier --write

test設定を作成
  bin/cdk-race-schedule-app.ts
  lib/cdk-race-schedule-app-stack.ts
  lib/container/repository/placeRepositoryFromStorageConfig.ts
  lib/stack/api-setup.ts
  lib/stack/iam-setup.ts
  lib/stack/lambda-setup.ts
  package.json
Due: tsc --noEmit, eslint --fix, prettier --write

package.jsonを修正
  package.json
Due: prettier --write

一旦ほぞん
  cdk.context.json
  lib/cdk-race-schedule-app-stack.ts
  lib/src/utility/sqlite.ts
  lib/stack/lambda-setup.ts
Due: tsc --noEmit, eslint --fix, prettier --write

dependabotの改修
  .github/workflows/auto-merge-dependabot.yml
Due: none

Update settings.json
  .vscode/settings.json
Due: prettier --write

修正
  .github/workflows/auto-merge-dependabot.yml
Due: none

後で使うdependabot
  .github/workflows/auto-merge-dependabot.yml
Due: none

修正
  .github/workflows/auto-merge-pr.yml
Due: none

追加
  .github/workflows/auto-approve-dependabot.yml
  .github/workflows/auto-label-dependabot.yml
  .github/workflows/fetch-metadata-dependabot.yml
Due: none

race-scheduleのdoc修正
  README.md
Due: prettier --write
