Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

refactor: NetkeibaBabacodeMapをconstに変更
  src/utility/data/netkeiba.ts
Due: eslint --fix, prettier --write

fix: NETKEIBAのコメントを削除し、定数として定義
  src/utility/data/course.ts
Due: eslint --fix, prettier --write

feat: RaceCourseのマスターデータを追加し、必要な型をインポート
  src/utility/data/netkeiba.ts
Due: eslint --fix, prettier --write

feat: 地方競馬（NAR）のレースコースをRaceCourseMasterListに追加
  src/utility/data/netkeiba.ts
Due: eslint --fix, prettier --write

feat: createNetkeibaBabacodeにraceTypeを追加し、関連する箇所を修正
  src/gateway/mock/mockRaceDataHtmlGateway.ts
  src/utility/data/netkeiba.ts
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

feat: createPlaceCodeMapにcourseCodeTypeを追加し、レース場コードの生成条件を強化
  src/utility/validateAndType/raceCourse.ts
Due: eslint --fix, prettier --write

feat: createPlaceCodeにCourseCodeType.OFFICIALを追加し、レースデータのURL生成を修正
  src/gateway/mock/mockRaceDataHtmlGateway.ts
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

refactor: createNetkeibaBabacodeの使用をcreatePlaceCodeに置き換え、netkeiba.tsを削除
  src/gateway/mock/mockRaceDataHtmlGateway.ts
  src/utility/data/course.ts
  src/utility/data/netkeiba.ts
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
Due: eslint --fix, prettier --write

refactor: RaceCourseList関数の定義を簡略化し、return文を削除しました
  src/utility/validateAndType/raceCourse.ts
Due: eslint --fix, prettier --write

feat: RaceCourseMasterListからNETKEIBAの競馬場情報を追加しました
  src/utility/data/course.ts
Due: eslint --fix, prettier --write

refactor: getCalendarId関数の実装を簡略化し、カレンダーIDの取得方法をマップを使用して改善しました
  src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

refactor: 引数名を変更して可読性を向上
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: RaceDateTime型をDate型に変更し、関連するバリデーションを削除
  src/domain/placeData.ts
  src/domain/raceData.ts
  src/utility/createRaceName.ts
  src/utility/validateAndType/raceDateTime.ts
  test/unittest/src/mock/service/calendarServiceMock.ts
  test/unittest/src/mock/service/placeServiceMock.ts
  test/unittest/src/mock/usecase/placeUsecaseMock.ts
  test/unittest/src/utility/validateAndType/raceDateTime.test.ts
Due: eslint --fix, prettier --write

pnpm update
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: レーススケジュールマシンのワークフローを追加
  .github/workflows/race-schedule_machine.yml
Due: none

refactor: 不要なジョブを削除し、レースデータの更新処理を整理
  .github/workflows/race-schedule.yml
Due: none

feat: レーススケジュールワークフローを追加
  .github/workflows/race-schedule-nar.yml
Due: none

refactor: レースエンティティリストのアップサート処理を改善し、結果を集計するロジックを追加
  src/usecase/implement/raceUsecase.ts
Due: eslint --fix, prettier --write

feat: データベース操作後に500msの遅延を追加
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

queue-batchテーブル用マイグレーションファイル追加
  migrations/0005_create-queue-batch-table.sql
Due: none

feat: queue-batchテーブルの作成を修正し、PRIMARY KEYをupdate_type, id, race_typeに変更
  migrations/0005_create-queue-batch-table.sql
Due: none

fix: queue_batchテーブルのupdated_atトリガーを修正し、idだけでなくupdate_typeとrace_typeも考慮するように変更
  migrations/0005_create-queue-batch-table.sql
Due: none

feat: queue_batchテーブルにINSERT文を追加し、サンプルデータを挿入する例を示す
  migrations/0005_create-queue-batch-table.sql
Due: none

Implement code changes to enhance functionality and improve performance
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 新しいEnvStoreユーティリティを追加し、CloudFlareEnvの設定と取得機能を実装
  src/utility/envStore.ts
Due: eslint --fix, prettier --write

feat: EnvStoreをインポートし、router関数内で環境設定を行う機能を追加
  src/router.ts
Due: eslint --fix, prettier --write

refactor: CommonParameterを削除し、PlayerController、PlayerRepository、PlayerService、PlayerUseCaseのメソッドを簡素化
  src/controller/playerController.ts
  src/repository/implement/playerRepository.ts
  src/repository/interface/IPlayerRepository.ts
  src/service/implement/playerService.ts
  src/service/interface/IPlayerService.ts
  src/usecase/implement/playerUsecase.ts
  src/usecase/interface/IPlayerUsecase.ts
  test/unittest/src/usecase/playerUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: CloudFlareEnvを削除し、DBGatewayのqueryAllおよびrunメソッドをEnvStoreを使用するように変更。PlaceRepositoryFromStorageおよびRaceRepositoryFromStorageでのenvパラメータを削除し、メソッド呼び出しを簡素化。
  src/gateway/implement/dbGateway.ts
  src/gateway/interface/iDbGateway.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

refactor: CommonParameterを削除し、関連するメソッド呼び出しを簡素化。EnvStoreを使用して環境変数を取得するように変更。テストコードも更新。
  src/controller/placeController.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/playerRepository.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/repository/interface/IPlaceRepository.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/router.ts
  src/service/implement/placeService.ts
  src/service/interface/IPlaceService.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/interface/IPlaceUsecase.ts
  test/unittest/repository/placeRepositoryFromStorage.test.ts
  test/unittest/src/controller/placeController.test.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/usecase/placeUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: RaceUseCaseおよびPlaceServiceのテストからcommonParameterを削除し、メソッド呼び出しを簡素化
  src/usecase/implement/raceUsecase.ts
  test/unittest/src/service/placeService.test.ts
Due: eslint --fix, prettier --write

refactor: CommonParameterを削除し、関連するメソッド呼び出しを簡素化。PlaceController、PlaceService、PlaceUseCase、PlaceRepositoryのメソッドを更新し、テストコードも修正。
  src/controller/placeController.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/interface/IPlaceRepository.ts
  src/repository/mock/mockPlaceRepositoryFromHtml.ts
  src/router.ts
  src/service/implement/placeService.ts
  src/service/interface/IPlaceService.ts
  src/usecase/implement/placeUsecase.ts
  src/usecase/interface/IPlaceUsecase.ts
  test/unittest/src/controller/placeController.test.ts
Due: eslint --fix, prettier --write

refactor: commonParameterMockを削除し、PlaceServiceおよびPlaceUseCaseのメソッド呼び出しを簡素化。テストコードを更新。
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/service/placeService.test.ts
  test/unittest/src/usecase/placeUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: CommonParameterを削除し、RaceRepositoryFromHtml、RaceRepositoryFromStorage、MockMechanicalRacingRaceRepositoryFromHtmlのメソッド呼び出しを簡素化。テストコードでcloudFlareEnvMockを使用するように変更。
  src/repository/implement/raceRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromStorage.ts
  src/repository/interface/IRaceRepository.ts
  src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  test/unittest/src/mock/common/commonParameterMock.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

refactor: CommonParameterをcloudFlareEnvに置き換え、関連するインポートを更新。テストコードのモックも修正。
  src/controller/calendarController.ts
  src/controller/raceController.ts
  src/gateway/implement/googleCalendarGateway.ts
  src/gateway/interface/iCalendarGateway.ts
  src/gateway/mock/mockGoogleCalendarGateway.ts
  src/repository/implement/googleCalendarRepository.ts
  src/repository/interface/ICalendarRepository.ts
  src/router.ts
  src/service/implement/calendarService.ts
  src/service/implement/raceService.ts
  src/service/interface/ICalendarService.ts
  src/service/interface/IRaceService.ts
  src/usecase/implement/calendarUseCase.ts
  src/usecase/implement/raceUsecase.ts
  src/usecase/interface/ICalendarUseCase.ts
  src/usecase/interface/IRaceUsecase.ts
  src/utility/cloudFlareEnv.ts
  src/utility/envStore.ts
  test/unittest/src/mock/common/commonParameterMock.ts
Due: eslint --fix, prettier --write

refactor: CommonParameterを削除し、関連するメソッド呼び出しを簡素化。GoogleCalendarRepository、CalendarService、CalendarUseCase、IRaceService、ICalendarService、ICalendarUseCaseのインターフェースを更新。
  src/repository/implement/googleCalendarRepository.ts
  src/repository/interface/ICalendarRepository.ts
  src/service/implement/calendarService.ts
  src/service/interface/ICalendarService.ts
  src/service/interface/IRaceService.ts
  src/usecase/implement/calendarUseCase.ts
  src/usecase/implement/raceUsecase.ts
  src/usecase/interface/ICalendarUseCase.ts
Due: eslint --fix, prettier --write

refactor: CommonParameterを削除し、関連するメソッド呼び出しを簡素化。RaceService、GoogleCalendarRepository、CalendarService、RaceCalendarUseCaseのテストコードを更新。
  src/service/implement/raceService.ts
  test/unittest/src/mock/gateway/mockGoogleCalendarGateway.ts
  test/unittest/src/mock/repository/mockCalendarRepository.ts
  test/unittest/src/mock/repository/mockRaceRepository.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/service/calendarService.test.ts
  test/unittest/src/service/raceService.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

chore: wranglerのバージョンを4.42.0から4.42.1に更新。pnpm-lock.yaml内の関連する依存関係も更新。
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: メソッド名を変更し、一貫性を持たせる
  src/repository/implement/googleCalendarRepository.ts
  src/repository/interface/ICalendarRepository.ts
  src/service/implement/calendarService.ts
  src/service/interface/ICalendarService.ts
  src/usecase/implement/calendarUseCase.ts
  test/unittest/src/mock/repository/mockCalendarRepository.ts
  test/unittest/src/mock/service/calendarServiceMock.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/service/calendarService.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: authInitメソッドの呼び出しをコンストラクタに移動し、重複を削除
  src/gateway/implement/googleCalendarGateway.ts
Due: eslint --fix, prettier --write

feat: raceTypeユーティリティ関数を追加
  src/utility/raceType.ts
Due: eslint --fix, prettier --write
