Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

refactor: fetchRaceEntityListメソッドでのレース情報取得時に、searchFilterからraceTypeを直接使用するように変更
  lib/src/repository/implement/raceRepositoryFromHtml/overseasRaceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: fetchRaceEntityListメソッドでsearchFilterからraceTypeを削除し、placeDataから直接取得するように変更
  lib/src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

refactor: PlaceEntityのheldDayDataのバリデーションロジックを改善し、エラーメッセージを明確化。mechanicalRacingRaceRepositoryFromStorageのコメントを修正。テストコードから不要なモック実装を削除し、RaceTypeのインポートを最適化。
  lib/src/repository/entity/placeEntity.ts
  lib/src/repository/implement/mechanicalRacingRaceRepositoryFromStorage.ts
  test/integrationtest/src/usecase-service/placeUseCase-placeService.test.ts
  test/unittest/src/mock/repository/mockCalendarRepository.ts
  test/unittest/src/mock/repository/mockPlaceRepository.ts
  test/unittest/src/service/implement/placeService.test.ts
Due: eslint --fix, prettier --write

refactor: mockRaceRepositoryのfetchRaceEntityListメソッドの実装を修正し、searchFilterからraceTypeを直接使用するように変更。raceService.test.tsから不要なsetup関数を削除し、テストの簡素化を図った。
  test/unittest/src/mock/repository/mockRaceRepository.ts
  test/unittest/src/service/implement/raceService.test.ts
Due: eslint --fix, prettier --write

refactor: mockRaceRepositoryのregisterRaceEntityListメソッドの実装を簡素化し、テストコードから不要なbeforeEachを削除
  test/unittest/src/mock/repository/mockRaceRepository.ts
  test/unittest/src/service/implement/raceService.test.ts
Due: eslint --fix, prettier --write

refactor: テストコードからregisterPlaceEntityListのモック実装を削除し、不要なコードを整理
  test/integrationtest/src/usecase-service/placeUseCase-placeService.test.ts
  test/unittest/src/mock/repository/mockPlaceRepository.ts
  test/unittest/src/service/implement/placeService.test.ts
Due: eslint --fix, prettier --write

refactor: mockGoogleCalendarGatewayのfetchCalendarDataListメソッドを実装し、raceTypeを使用してカレンダーデータを取得するように変更。テストコードから不要なモック実装を削除し、カレンダーリポジトリのテストを簡素化。
  test/unittest/src/mock/gateway/mockGoogleCalendarGateway.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
Due: eslint --fix, prettier --write

refactor: PlaceRepositoryFromHtmlおよびPlaceRepositoryFromStorageでの海外競馬対応のエラーハンドリングを追加し、テストケースを更新。テストコードでのraceTypeリストを修正し、海外競馬のケースを考慮した期待値を設定。
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  lib/src/repository/implement/placeRepositoryFromStorage.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

feat: Lambda関数のメモリサイズを1024MBから8192MBに増加し、csv-parserパッケージを追加
  lib/stack/lambda-setup.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: raceList_archive.csvからraceList.csvへのデータコピー機能を追加し、重複idの最新updateDateのみを保持、dateTimeで昇順ソート
  lib/src/gateway/script/copyJraPlaceList.ts
  lib/src/gateway/script/copyJraRaceList.ts
  lib/src/gateway/script/copyJraRaceListUnique.ts
Due: eslint --fix, prettier --write

fix: Lambda関数のメモリサイズを8192から1024に変更
  lib/stack/lambda-setup.ts
Due: eslint --fix, prettier --write

feat: レーススケジュールのワークフローを追加
  .github/workflows/race-schedule-boatrace.yml
  .github/workflows/race-schedule-mechanical-racing.yml
Due: none

feat: レースデータ更新のジョブ名を変更し、レースタイプに「overseas」を追加
  .github/workflows/race-schedule-mechanical-racing.yml
Due: none

feat: 海外レーススケジュールのワークフローを削除
  .github/workflows/race-schedule-overseas.yml
Due: none

feat: update-place-dataジョブから戦略マトリックスを削除し、レースタイプを直接指定
  .github/workflows/place-schedule-batch.yml
Due: none

feat: レーススケジュールのワークフローを新規作成し、レースデータとカレンダーの更新を追加
  .github/workflows/race-schedule-mechanical-racing.yml
  .github/workflows/race-schedule.yml
Due: none

feat: レースタイプに「keirin」を追加
  .github/workflows/race-schedule-keirin.yml
  .github/workflows/race-schedule.yml
Due: none

追加
  package.json
Due: prettier --write

feat: レースタイプに「nar」と「keirin」を追加し、データ取得ロジックを改善
  .github/workflows/race-schedule.yml
  lib/src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

chore: 不要なconsole.logを削除
  lib/src/repository/implement/mechanicalRacingRaceRepositoryFromStorage.ts
  lib/src/repository/implement/placeRepositoryFromStorage.ts
  lib/src/usecase/implement/calendarUseCase.ts
Due: eslint --fix, prettier --write

fix: レースタイプをnarとkeirinに制限
  .github/workflows/race-schedule.yml
Due: none

chore: .gitignoreに.wrangler/を追加
  .gitignore
Due: none

Add custom type definitions for Cloudflare Workers to tsconfig
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

feat: プレイヤーテーブルの作成とインデックス、トリガーの追加
  migrations/0001_create-player-table.sql
Due: none

feat: 選手管理システムのAPIを実装
  src/index.ts
Due: eslint --fix, prettier --write

feat: 公営競技のレース情報コントローラーを追加し、選手データを取得するメソッドを実装
  eslint.config.mjs
  src/controller/publicGamblingController.ts
Due: eslint --fix, prettier --write

feat: PublicGamblingControllerをインポートし、選手データ取得メソッドを追加。tsconfigのtypesを整理。
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: プレイヤーテーブルに初期データ挿入のためのコメントを追加
  migrations/0001_create-player-table.sql
Due: none

feat: プレイヤーテーブルから初期データ挿入のSQL文を削除
  migrations/0001_create-player-table.sql
Due: none

feat: プレイヤーデータ取得メソッドを実装し、CORS設定を追加。package.jsonにローカル開発用スクリプトを追加。wrangler.tomlを新規作成。
  package.json
  src/controller/publicGamblingController.ts
  src/index.ts
  wrangler.toml
Due: eslint --fix, prettier --write

feat: 公営競技のレース情報コントローラーに選手データ取得メソッドを追加し、レース種別フィルタを動的に構築。CORS設定を整理。
  src/controller/publicGamblingController.ts
Due: eslint --fix, prettier --write

feat: 選手データ取得メソッドのレスポンスに選手リストを追加し、ページネーション情報を整理。選手データ取得カウントメソッドの戻り値を更新。
  src/controller/publicGamblingController.ts
Due: eslint --fix, prettier --write

refactor: getPlayerDataListメソッドから不要な変数とロジックを削除し、コードを簡素化
  src/controller/publicGamblingController.ts
Due: eslint --fix, prettier --write

refactor: getPlayerDataCountメソッドのコードを簡素化し、console.logの出力を修正
  src/controller/publicGamblingController.ts
Due: eslint --fix, prettier --write

refactor: 公営競技のレース情報コントローラーとインデックスファイルのコードを整理し、CommonParameterを導入して引数を簡素化
  src/controller/publicGamblingController.ts
  src/index.ts
Due: eslint --fix, prettier --write

feat: PlayerRepositoryとIPlayerRepositoryを追加し、選手データ取得メソッドを実装
  src/controller/publicGamblingController.ts
  src/repository/implement/playerRepository.ts
  src/repository/interface/IPlayerRepository.ts
Due: eslint --fix, prettier --write

feat: PlayerServiceとIPlayerServiceを追加し、依存性注入を導入。PublicGamblingControllerのコンストラクタを修正し、選手データ取得メソッドを更新。
  src/controller/publicGamblingController.ts
  src/index.ts
  src/service/implement/PlayerService.ts
  src/service/interface/IPlayerService.ts
Due: eslint --fix, prettier --write

feat: PlayerUseCaseとIPlayerUseCaseを追加し、依存性注入を設定。PublicGamblingControllerのDI登録を整理し、PlayerServiceのインポートパスを修正。
  src/controller/publicGamblingController.ts
  src/index.ts
  src/usecase/implement/playerUsecase.ts
  src/usecase/interface/IPlayerUsecase.ts
Due: eslint --fix, prettier --write

feat: PlayerEntityの作成メソッドにバリデーションを追加し、エラーハンドリングを実装。PlayerRepositoryとIPlayerRepositoryの型を明確化し、PlayerServiceとIPlayerServiceの戻り値をPlayerEntity配列に変更。PublicGamblingControllerでのデータ取得処理を修正。
  lib/src/repository/entity/playerEntity.ts
  lib/src/utility/raceType.ts
  package.json
  src/controller/publicGamblingController.ts
  src/repository/implement/playerRepository.ts
  src/repository/interface/IPlayerRepository.ts
  src/service/implement/PlayerService.ts
  src/service/interface/IPlayerService.ts
  src/usecase/implement/playerUsecase.ts
  src/usecase/interface/IPlayerUsecase.ts
Due: eslint --fix, prettier --write

chore: wrangler.tomlファイルを削除
  wrangler.toml
Due: none
