Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

S級西日本準決勝とS級東日本準決勝をGⅠステージリストに追加
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

GⅠステージリストにS級ドリームレース、S級オリオン賞、S級シャイニングスター賞、S級白虎賞、S級青龍賞を追加し、KeirinStageMapを更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

GⅡステージリストにS級毘沙門天賞、S級二次予選、S級一次予選、S級特別選抜予選を追加し、KeirinRaceGradeAndStageListを更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

stageByOddsparkをstringからstring[]に変更し、各ステージのデータ構造を更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

filterRaceEntityメソッドのレース優先度判定を修正し、gradeの比較をstringからstring[]に変更
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
Due: eslint --fix, prettier --write

filterRaceEntityメソッドのレース優先度判定を修正し、条件式を整理
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
Due: eslint --fix, prettier --write

KeirinRaceGradeAndStageListにGⅠおよびGⅡの新しいステージを追加し、各ステージのデータ構造を更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinRaceGradeAndStageListのGⅠステージのデータ構造を整形し、S級二次予選の追加を含む
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinRaceGradeAndStageListのステージデータ構造を更新し、S級準決勝および特別選抜予選の新しいオプションを追加
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinRaceGradeAndStageListのGⅡおよびGⅢの新しいステージを追加し、不要なステージを削除
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinRaceGradeAndStageListから不要なGⅠ特別優秀ステージを削除し、GⅠ、GⅡ、GⅢ、FⅠの各ステージのデータ構造を統一
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

Add S級準々決勝 stage to KeirinRaceGradeAndStageList
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinRaceCalendarUseCaseで指定グレード・ステージリストをKeirinRaceGradeAndStageListに変更し、不要なコードを削除
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinRaceGradeAndStageListに新しいステージを追加し、不要なステージを削除
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinRaceGradeAndStageListに新しいステージ「S級順位決定」、「S級優秀」、「S級特一般」を追加し、KeirinRaceStageListを更新
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

KeirinStageByOddsparkMapを削除し、KeirinStageMapをエクスポートするように変更
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

リファクタリング: プレイヤーの優先順位を取得する際の変数名を統一
  lib/src/usecase/implement/autoraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/boatraceRaceCalendarUseCase.ts
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
Due: eslint --fix, prettier --write

リファクタリング: stageByOddsparkをstageByWebSiteに名称変更
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

リファクタリング: KeirinRaceGradeAndStageListにraceTypeプロパティを追加
  lib/src/utility/data/keirin/keirinRaceStage.ts
Due: eslint --fix, prettier --write

リファクタリング: raceTypeに基づいてKeirinRaceGradeAndStageListをフィルタリング
  lib/src/usecase/implement/keirinRaceCalendarUseCase.ts
Due: eslint --fix, prettier --write

保存: chatmode.md (settings.jsonの内容) を追加
  chatmode.md
Due: prettier --write

feat: add beast chatmode config
  .github/chatmodes/4.1-beast.chatmode.md
Due: prettier --write

add: タスク運用フローの手順を記載した task.instructions.md を追加
  .github/instructions/task.instructions.md
Due: prettier --write

add: タスク運用フローの手順を記載した task.instructions.md を追加 (#407)
  .github/instructions/task.instructions.md
Due: prettier --write

READMEにGitHub Flowのブランチ運用ルールを追記
  README.md
Due: prettier --write

feature/で始まるブランチ名のみ許可するルールを明記し、CIで強制
  .github/instructions/task.instructions.md
  .github/workflows/validate-branch-name.yml
Due: prettier --write

Validate Branch Nameのワークフローを削除
  .github/workflows/validate-branch-name.yml
Due: none

husky/lint-stagedの動作確認・設定修正のみコミット
  .husky/pre-commit
  lint-staged.config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Lambda関数名・環境変数をStackごとに.envから分離し、LAMBDA_FUNCTION_NAMEをそのまま利用するよう修正
  .gitignore
  bin/cdk-race-schedule-app.ts
  lib/cdk-race-schedule-app-stack.ts
  lib/container/gateway/s3GatewayConfig.ts
  lib/src/gateway/implement/s3Gateway.ts
  lib/stack/lambda-setup.ts
Due: eslint --fix, prettier --write

Lambda/S3環境分離・IAMロールS3権限修正・Stackごとに.env分離設計の反映
  .github/chatmodes/4.1-beast.chatmode.md
  .github/instructions/task.instructions.md
  README.md
  chatmode.md
  lib/cdk-race-schedule-app-stack.ts
  lib/stack/iam-setup.ts
  lint-staged.config.json
  package.json
Due: eslint --fix, prettier --write

fix: 'gatway'のスペルミスを修正し、テストの期待値を更新
  test/src/repository/implement/autoracePlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/autoraceRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/boatracePlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/boatraceRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/jraPlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/jraRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/keirinPlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/keirinRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/narPlaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/narRaceRepositoryFromHtmlImpl.test.ts
  test/src/repository/implement/worldRaceRepositoryFromHtmlImpl.test.ts
Due: eslint --fix, prettier --write

UT: name/priorityの異常値・型安全性テスト追加
  test/domain/playerData.test.ts
Due: eslint --fix, prettier --write

docs: シーケンス図（概要）をMermaid記法で追加
  document/detail-design/sequence/overview.md
Due: prettier --write

docs(jra): getRacesFromCalendarのシーケンス図を1つに統合
  document/detail-design/sequence/jra/getRacesFromCalendar.md
  document/detail-design/sequence/overview.md
Due: prettier --write

fix: updatePlaceDataListシーケンス図をWeb(HTML)取得→S3保存の流れに修正
  document/detail-design/sequence/jra/getPlaceDataList.md
  document/detail-design/sequence/jra/getRaceDataList.md
  document/detail-design/sequence/jra/updatePlaceDataList.md
  document/detail-design/sequence/jra/updateRaceDataList.md
  document/detail-design/sequence/jra/updateRacesToCalendar.md
Due: prettier --write

fix: updatePlaceDataListシーケンス図をusecaseで取得→usecaseで保存指示の2段階に修正
  document/detail-design/sequence/jra/updatePlaceDataList.md
Due: prettier --write

fix: updatePlaceDataListシーケンス図をデータ取得フローに関する詳細を追加 fix: updateRaceDataListシーケンス図にプレースデータ取得の流れを追加 fix: updateRacesToCalendarシーケンス図にレースデータ取得の詳細を追加
  document/detail-design/sequence/jra/updatePlaceDataList.md
  document/detail-design/sequence/jra/updateRaceDataList.md
  document/detail-design/sequence/jra/updateRacesToCalendar.md
Due: prettier --write

lib配下・test配下のjs/d.tsビルド生成物を全削除、およびindex.ts等の現状をコミット
  lib/src/controller/publicGamblingController.ts
  lib/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

公営競技のレース情報コントローラーを追加し、ルーティングを設定
  .github/actions/test/ita/jra/action.yml
Due: none

APIエンドポイントを統一し、レースタイプを指定する形式に変更
  .github/actions/test/ita/autorace/action.yml
  .github/actions/test/ita/boatrace/action.yml
  .github/actions/test/ita/keirin/action.yml
  .github/actions/test/ita/nar/action.yml
  .github/actions/test/ita/world/action.yml
  README.md
Due: prettier --write
