Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

feat: IRaceRepositoryインターフェースとraceService実装を追加
  packages/api/src/repository/interface/IRaceRepository.ts
  packages/api/src/service/implement/raceService.ts
Due: eslint --fix, prettier --write

feat: raceのAPIエンドポイント(GET)を追加（place同様の構成）
  packages/api/src/controller/raceController.ts
  packages/api/src/di.race.ts
  packages/api/src/repository/implement/raceRepositoryStub.ts
  packages/api/src/router.ts
  packages/shared/src/entity/raceEntity.ts
Due: eslint --fix, prettier --write

fix: router.tsのrace/placeエンドポイントの修正
  packages/api/src/router.ts
Due: eslint --fix, prettier --write

fix: place関連のユースケース・コントローラ修正
  packages/api/src/controller/placeController.ts
  packages/api/src/usecase/implement/placeUsecase.ts
  packages/api/src/usecase/interface/IPlaceUsecase.ts
Due: eslint --fix, prettier --write

refactor: DBGateway・Repository周辺のリファクタリングと不要ファイル削除
  src/di.ts
  src/gateway/implement/dbGateway.ts
  src/gateway/interface/iDbGateway.ts
  src/repository/implement/placeRepositoryFromStorage.ts
  src/repository/implement/playerRepository.ts
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

refactor: placeRepository.tsの削除（不要なため）
  packages/api/src/repository/implement/placeRepository.ts
Due: eslint --fix, prettier --write

feat: place HTML取得用Repositoryインターフェース新規作成
  packages/scraping/src/repository/IPlaceHtmlRepository.ts
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
Due: eslint --fix, prettier --write

chore: コード変更の整理と不要なコードの削除
  packages/scraping/package.json
  packages/scraping/src/gateway/implement/R2Gateway.ts
  packages/scraping/src/gateway/interface/IR2Gateway.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: R2GatewayをcloudflareEnv型で認証情報を受け取るよう変更、bucketは各repositoryから指定する設計に統一
  packages/scraping/src/di.ts
  packages/scraping/src/gateway/implement/R2Gateway.ts
  packages/scraping/src/repository/IPlaceHtmlRepository.ts
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
  packages/scraping/src/repository/interface/IPlaceHtmlRepository.ts
  packages/shared/src/utilities/cloudFlareEnv.ts
Due: eslint --fix, prettier --write

fix: R2Gateway.tsの重複ファイル（小文字）を削除し、importパス競合エラーを解消
  packages/scraping/src/di.ts
  packages/scraping/src/gateway/implement/R2Gateway.ts
Due: eslint --fix, prettier --write

fix: R2Gateway.tsを復元し、importパス競合エラーを解消
  packages/scraping/src/gateway/implement/R2Gateway.ts
Due: eslint --fix, prettier --write

fix: IR2Gateway型をR2Gateway実装に合わせて修正（bucket引数追加）
  packages/scraping/src/gateway/interface/IR2Gateway.ts
Due: eslint --fix, prettier --write

refactor: R2GatewayとIR2Gatewayの修正（詳細はPR参照）
  packages/scraping/src/gateway/implement/R2Gateway.ts
  packages/scraping/src/gateway/interface/IR2Gateway.ts
Due: eslint --fix, prettier --write

refactor: 地方競馬データ加工処理をscraping serviceへ移動
  packages/scraping/src/service/LocalKeibaRaceDataService.ts
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

fix: repositoryの地方競馬データ加工処理のservice関数化による型エラー修正
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

revert: revert競合解消 地方競馬データ加工処理を元に戻す
  packages/scraping/src/service/LocalKeibaRaceDataService.ts
  src/repository/implement/raceRepositoryFromStorage.ts
Due: eslint --fix, prettier --write

feat: placeService新規追加・関連リポジトリ修正
  packages/scraping/src/entity/placeHtmlEntity.ts
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
  packages/scraping/src/repository/interface/IPlaceHtmlRepository.ts
  packages/scraping/src/service/placeService.ts
  packages/shared/src/entity/placeEntity.ts
  packages/shared/src/types/placeId.ts
Due: eslint --fix, prettier --write

fix: scraping API層の型・Lintエラー修正
  packages/scraping/src/controller/placeController.ts
  packages/scraping/src/index.ts
  packages/scraping/src/router/apiRouter.ts
  packages/scraping/src/router/placeRouter.ts
  packages/scraping/src/usecase/placeUsecase.ts
Due: eslint --fix, prettier --write

fix: scraping APIルータ型エラー修正・express依存追加
  package.json
  packages/scraping/src/router/apiRouter.ts
  packages/scraping/src/router/placeRouter.ts
  packages/scraping/src/service/placeService.ts
  packages/scraping/src/usecase/placeUsecase.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: lintエラー修正（process.exit→throw, isNaN→Number.isNaN, 戻り値型追加）
  src/migrations/0001_create-player-table.sql
  src/migrations/0002_add_place_id_to_race.sql
  src/migrations/0003_populate_place_id.sql
  src/migrations/0004_make_place_id_not_null.sql
  src/migrations/create-held-day-table.sql
  src/migrations/create-place-grade-table.sql
  src/migrations/create-place-table.sql
  src/migrations/create-race-condition-table.sql
  src/migrations/create-race-player-table.sql
  src/migrations/create-race-table.sql
  src/migrations/create-stage-table.sql
  src/scripts/init-db.ts
  src/scripts/insert_all_held_day.sh
  src/scripts/insert_all_place.sh
  src/scripts/insert_all_race.sh
  src/scripts/insert_held_day_from_all_csv.ts
  src/scripts/insert_place_from_all_csv.ts
  src/scripts/insert_race_from_all_csv.ts
  src/scripts/schema.sql
Due: eslint --fix, prettier --write

chore: AWS CDK関連ファイル・設定の完全削除
  .gitignore
  README.md
  cdk.context.json
  cdk.json
  eslint.config.mjs
  tsconfig.json
Due: prettier --write

chore: .DS_Storeをgitignore追加＆全削除
  .gitignore
  Checking
  README.md
  eslint.config.mjs
Due: prettier --write

feat: createPlaceUrlユーティリティ追加と関連リファクタリング
  packages/scraping/src/gateway/implement/placeDataHtmlGateway.ts
  packages/scraping/src/gateway/interface/iPlaceDataHtmlGateway.ts
  packages/scraping/tsconfig.json
  packages/shared/src/utilities/createPlaceUrl.ts
  packages/shared/src/utilities/format.ts
  src/di.ts
  src/gateway/mock/mockPlaceDataHtmlGateway.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/raceRepositoryFromHtml.ts
  src/utility/createRaceName.ts
  src/utility/data/url.ts
  src/utility/googleCalendar.ts
  src/utility/validateAndType/idUtility.ts
  test/unittest/src/gateway/placeDataHtmlGateway.test.ts
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/usecase/calendarUseCase.test.ts
  test/unittest/src/utility/format.test.ts
Due: eslint --fix, prettier --write

refactor: fetch部分の簡略化（HTML取得の冗長な変数・ログ削除）
  packages/scraping/src/gateway/implement/placeDataHtmlGateway.ts
  packages/scraping/tsconfig.json
Due: eslint --fix, prettier --write

refactor: placeHtmlRepositoryの実装・設定修正
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
  packages/scraping/tsconfig.json
Due: eslint --fix, prettier --write

Revert "fix: repositoryの地方競馬データ加工処理のservice関数化による型エラー修正"
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
  packages/scraping/src/service/placeService.ts
Due: eslint --fix, prettier --write

fix: IPlaceHtmlRepositoryのRaceTypeインポートパスを修正
  packages/scraping/src/repository/interface/IPlaceHtmlRepository.ts
Due: eslint --fix, prettier --write

fix: jest.setup.jsの不要なrequire削除（空ファイル化）
  jest.setup.js
Due: none

refactor: メソッド名をgetPlaceDataHtmlからfetchに変更
  packages/scraping/src/gateway/implement/placeDataHtmlGateway.ts
  packages/scraping/src/gateway/interface/iPlaceDataHtmlGateway.ts
  packages/scraping/src/repository/implement/placeHtmlRepository.ts
  src/gateway/mock/mockPlaceDataHtmlGateway.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  test/unittest/src/gateway/placeDataHtmlGateway.test.ts
Due: eslint --fix, prettier --write

refactor: コントローラーのメソッド名をgetからgetCalendarList、getCourseList、getPlaceList、getRaceListからgetに変更し、ルーターでの呼び出しを修正。PlaceUsecaseとRaceUsecaseにupsertメソッドを追加。
  packages/api/src/controller/calendarController.ts
  packages/api/src/controller/courseController.ts
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/router.ts
  packages/api/src/usecase/implement/placeUsecase.ts
  packages/api/src/usecase/implement/raceUsecase.ts
  packages/api/src/usecase/interface/IPlaceUsecase.ts
  packages/api/src/usecase/interface/IRaceUsecase.ts
Due: eslint --fix, prettier --write

Placeのupsert API追加・service/repository層のupsert実装・interface拡張
  packages/api/src/controller/placeController.ts
  packages/api/src/repository/implement/placeRepositoryStub.ts
  packages/api/src/repository/interface/IPlaceRepository.ts
  packages/api/src/service/implement/placeService.ts
  packages/api/src/service/interface/IPlaceService.ts
  packages/api/src/usecase/implement/placeUsecase.ts
Due: eslint --fix, prettier --write

Raceのupsert API追加（controller層）
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/repository/implement/raceRepositoryStub.ts
  packages/api/src/repository/interface/IRaceRepository.ts
  packages/api/src/service/implement/raceService.ts
  packages/api/src/service/interface/IRaceService.ts
  packages/api/src/usecase/implement/raceUsecase.ts
Due: eslint --fix, prettier --write

fix: デプロイワークフローにD1データベースIDの環境変数を追加
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

fix: デプロイワークフローにD1データベースIDの環境変数を追加 (#913)
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

fix: D1データベースID環境変数をwranglerに正しく渡すように修正
  .github/workflows/deploy-test.yml
Due: none

fix: D1データベースIDの環境変数の参照方法を修正し、デプロイコマンドを簡素化 - deploy-test.yml: デプロイコマンドを簡素化 - wrangler.toml (api, db): D1データベースIDの参照を修正
  .github/workflows/deploy-test.yml
  packages/api/wrangler.toml
  packages/db/wrangler.toml
Due: none

fix: デプロイプロセスを改善し、wrangler.tomlの環境変数を解決してからデプロイを実行するように修正
  .github/workflows/deploy-test.yml
Due: none

fix: prettierおよびvoid return関連のlintエラー修正（setTimeout, Promiseコールバックの整形）
  eslint.config.mjs
  jest.setup.js
Due: prettier --write

fix: jest.setup.js を復元（CIエラー対応）
  jest.setup.js
Due: none

docs: race POST APIの正しいリクエストボディ例・バリデーション仕様を明確化
  packages/api/src/controller/placeController.ts
  packages/api/src/controller/raceController.ts
  packages/api/src/router.ts
  packages/api/src/types/searchPlaceFilter.ts
  packages/api/src/types/searchRaceFilter.ts
Due: eslint --fix, prettier --write
