Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{cjs,mjs,md,json}": ["prettier --write"]
}

refactor: IS_SHORT_TEST環境変数を使用してraceTypeListを動的に設定し、テストケースを簡素化。publicGamblingRaceDataService.test.tsおよびpublicGamblingRaceDataUseCase.test.tsでのテスト条件を整理し、可読性と効率を向上させた。
  test/unittest/src/service/implement/publicGamblingRaceDataService.test.ts
  test/unittest/src/usecase/implement/publicGamblingRaceDataUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: 環境変数のインポートを整理し、テストケースの条件を統一
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
  test/unittest/src/service/implement/publicGamblingRaceDataService.test.ts
  test/unittest/src/usecase/implement/publicGamblingRaceDataUseCase.test.ts
Due: eslint --fix, prettier --write

chore: consolidate test scripts in package.json
  .github/actions/test/unit/action.yml
  package.json
Due: prettier --write

fix: forward args to jest via pnpm exec in test:base-cmd
  package.json
Due: prettier --write

fix(scripts): forward args to jest via sh -c wrapper to preserve flags
  package.json
Due: prettier --write

fix(scripts): handle pnpm '--' when forwarding args to jest
  package.json
Due: prettier --write

fix(package.json): 修正されたインデントを整えました
  package.json
Due: prettier --write

fix(test-mock): avoid throwing in baseCommonData helpers and return undefined for non-applicable race types
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

ci: speed up ITa autorace action - cache pnpm, silent install, faster server wait
  .github/actions/test/ita/autorace/action.yml
Due: none

ci: remove unsupported --no-audit flag from pnpm install
  .github/actions/test/ita/autorace/action.yml
Due: none

fix(action.yml): サーバー起動時間の測定を追加し、各API呼び出しの経過時間をログ出力するように修正
  .github/actions/test/ita/autorace/action.yml
Due: none

ci: start built JS in action to avoid ts-node overhead; use exponential backoff
  .github/actions/test/ita/autorace/action.yml
Due: none

Revert "ci: start built JS in action to avoid ts-node overhead; use exponential backoff"
  .github/actions/test/ita/autorace/action.yml
Due: none

ci: switch ITa action to Docker image build/run; healthcheck with exponential backoff
  .github/actions/test/ita/autorace/action.yml
Due: none

ci: add Dockerfile and run ITa action with container build/run
  Dockerfile
Due: none

Revert "ci: add Dockerfile and run ITa action with container build/run"
  Dockerfile
Due: none

Revert "ci: switch ITa action to Docker image build/run; healthcheck with exponential backoff"
  .github/actions/test/ita/autorace/action.yml
Due: none

fix: サーバーの起動待機時間を短縮し、ヘルスチェックの間隔を調整 - サーバー起動待機のループ回数を15から60に増加 - ヘルスチェックの待機時間を2秒から0.5秒に短縮
  .github/actions/test/ita/autorace/action.yml
Due: none

refactor: テストケースを整理し、レースタイプごとにグループ化
  test/unittest/src/usecase/implement/publicGamblingRaceDataUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: テストで使用するレースタイプのインポートを整理し、定数をテスト用のリストに置き換え
  test/integrationtest/src/usecase-service/publicGamblingPlaceDataUseCase-publicGamblingPlaceDataService.test.ts
Due: eslint --fix, prettier --write

refactor: テストで使用するレースタイプを定数からテスト用リストに置き換え
  test/unittest/src/gateway/record/heldDayRecord.test.ts
  test/unittest/src/gateway/record/placeRecord.test.ts
  test/unittest/src/repository/entity/placeEntity.test.ts
  test/unittest/src/repository/entity/raceEntity.test.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/usecase/implement/publicGamblingPlaceDataUseCase.test.ts
  test/unittest/src/usecase/implement/publicGamblingRaceDataUseCase.test.ts
  test/unittest/src/utility/data/common/gradeType.test.ts
  test/unittest/src/utility/data/common/placeId.test.ts
  test/unittest/src/utility/data/common/positionNumber.test.ts
  test/unittest/src/utility/data/common/raceId.test.ts
Due: eslint --fix, prettier --write

refactor: RACE_TYPE_LIST_WITHOUT_OVERSEASをtestRaceTypeListWithoutOverseasに置き換え、インポートを整理
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: RACE_TYPE_LIST_ALLをtestRaceTypeListAllに置き換え、テストの一貫性を向上
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
  test/unittest/src/usecase/implement/publicGamblingCalendarUseCase.test.ts
Due: eslint --fix, prettier --write

refactor: baseCommonDataからtestRaceTypeListAllとtestRaceTypeListWithoutOverseasをインポートし、テストケースでのレースタイプのフィルタリングを改善
  test/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

refactor: fetchRaceEntityListのテストを整理し、テストケースを統一して可読性を向上
  test/unittest/src/service/implement/publicGamblingRaceDataService.test.ts
Due: eslint --fix, prettier --write

refactor: fetchPlaceListおよびregisterPlaceListのテストをtest.eachを使用してリファクタリングし、可読性と一貫性を向上
  test/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: テストケースをtest.eachを使用してリファクタリングし、可読性と一貫性を向上
  test/unittest/src/domain/playerData.test.ts
  test/unittest/src/domain/racePlayerData.test.ts
  test/unittest/src/repository/implement/googleCalendarRepository.test.ts
  test/unittest/src/service/implement/publicGamblingRaceDataService.test.ts
  test/unittest/src/usecase/implement/publicGamblingRaceDataUseCase.test.ts
  test/unittest/src/utility/data/common/gradeType.test.ts
  test/unittest/src/utility/data/common/positionNumber.test.ts
  test/unittest/src/utility/data/common/raceStage.test.ts
Due: eslint --fix, prettier --write

refactor: getRaceDataHtmlのテストを簡素化し、エラーメッセージのスローを明確化
  test/unittest/src/gateway/implement/raceDataHtmlGateway.test.ts
Due: eslint --fix, prettier --write

refactor: test:base-cmdのmaxWorkersを5から6に変更し、テスト実行の効率を向上
  package.json
Due: prettier --write

refactor: mockRaceEntityの作成を追加し、テストデータの整備を行った
  test/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

feat: テストファイルのリファクタリングとモックデータの統一
  test/unittest/src/domain/placeData.test.ts
  test/unittest/src/domain/playerData.test.ts
  test/unittest/src/domain/raceData.test.ts
  test/unittest/src/domain/racePlayerData.test.ts
  test/unittest/src/gateway/record/horseRacingRaceRecord.test.ts
  test/unittest/src/gateway/record/mechanicalRacingRaceRecord.test.ts
  test/unittest/src/gateway/record/racePlayerRecord.test.ts
  test/unittest/src/mock/common/baseCommonData.ts
  test/unittest/src/utility/data/common/raceStage.test.ts
Due: eslint --fix, prettier --write

feat: Jestの設定を追加し、タイムゾーンをAsia/Tokyoに設定 - settings.jsonにjestの設定を追加 - jest.config.jsにタイムゾーン設定を追加
  .vscode/settings.json
  jest.config.js
Due: prettier --write

feat(tests): set up Vitest configuration and global setup
  package.json
  pnpm-lock.yaml
  test/setup-vitest-globals.ts
  test/unittest/src/utility/data/common/gradeType.test.ts
  tsconfig.test.json
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(package.json): vitestスクリプトを追加し、テストコマンドを整理 feat(vitest.config.ts): VitestのUIを有効化し、カバレッジ設定を強化
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(vitest.config.ts): CPUスレッド数の自動計算を追加し、環境変数によるオーバーライドを許可
  vitest.config.ts
Due: eslint --fix, prettier --write

Implement code changes to enhance functionality and improve performance
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Vitestの設定ファイルを追加し、スレッド数の自動計算を実装。package.jsonにVitest関連のスクリプトを追加し、依存関係に@vitest/uiを追加。
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: Vitestのスレッド数の自動計算を修正し、デフォルトで1コアを予約するように変更。package.jsonのテストスクリプトを更新し、ユニットテストのパスを修正。
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

test: CalendarDataクラスのユニットテストを改善し、RaceTypeを動的にテストするように変更
  test/unittest/src/domain/calendarData.test.ts
Due: eslint --fix, prettier --write
