Repository taichi6930/race-schedule-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: PlaceServiceおよび関連インターフェースをAWS用にリファクタリングし、PlaceControllerを新規作成。PlaceRepositoryForStorageを追加し、データ取得機能を実装。テストコードもIPlaceServiceForAWSに対応させて更新。
  lib/container/service/index.ts
  lib/src/service/implement/placeService.ts
  lib/src/service/interface/IPlaceService.ts
  lib/src/usecase/implement/placeUseCase.ts
  lib/src/usecase/implement/raceUseCase.ts
  src/controller/placeController.ts
  src/index.ts
  src/repository/implement/placeRepositoryStorage.ts
  src/service/implement/placeService.ts
  test/old/integrationtest/src/usecase-service/placeUseCase-placeService.test.ts
  test/old/unittest/src/mock/service/placeServiceMock.ts
  test/old/unittest/src/service/implement/placeService.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

feat: 各コントローラーのインスタンス生成をリクエスト処理内に移動し、エンドポイントごとに処理を整理。これにより、可読性とメンテナンス性を向上。
  src/index.ts
Due: eslint --fix, prettier --write

feat: PlaceDataHtmlGatewayをAWS用にリファクタリングし、関連インターフェースを更新。MockPlaceDataHtmlGatewayもAWS対応に変更。PlaceRepositoryFromHtmlでの依存関係を修正し、テストコードを更新。
  lib/container/gateway/index.ts
  lib/src/gateway/implement/placeDataHtmlGateway.ts
  lib/src/gateway/interface/iPlaceDataHtmlGateway.ts
  lib/src/gateway/mock/mockPlaceDataHtmlGateway.ts
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  test/old/unittest/src/gateway/implement/placeDataHtmlGateway.test.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
Due: eslint --fix, prettier --write

feat: PlaceDataHtmlGatewayおよびIPlaceDataHtmlGatewayインターフェースを新規作成し、開催場データのHTML取得機能を実装。
  src/gateway/implement/placeDataHtmlGateway.ts
  src/gateway/interface/iPlaceDataHtmlGateway.ts
Due: eslint --fix, prettier --write

feat: AWS用にリポジトリとインターフェースをリファクタリングし、関連するクラスを新規作成
  lib/container/repository/index.ts
  lib/container/repository/repositoryFromHtmlConfig.ts
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  lib/src/repository/implement/placeRepositoryFromStorage.ts
  lib/src/repository/interface/IPlaceRepository.ts
  lib/src/repository/mock/mockPlaceRepositoryFromHtml.ts
  lib/src/service/implement/placeService.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryStorage.ts
  src/service/implement/placeService.ts
  test/old/unittest/src/mock/repository/mockPlaceRepository.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromHtml.test.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

Refactor repository and service interfaces for AWS compatibility
  lib/container/repository/index.ts
  lib/container/repository/repositoryFromHtmlConfig.ts
  lib/container/service/index.ts
  lib/src/repository/implement/horseRacingRaceRepositoryFromStorage.ts
  lib/src/repository/implement/mechanicalRacingRaceRepositoryFromStorage.ts
  lib/src/repository/implement/playerRepository.ts
  lib/src/repository/implement/raceRepositoryFromHtml/autoraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/boatraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/jraRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/keirinRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/narRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/overseasRaceRepositoryFromHtmlForAWS.ts
  lib/src/repository/interface/IPlayerRepository.ts
  lib/src/repository/interface/IRaceRepository.ts
  lib/src/repository/mock/mockHorseRacingRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  lib/src/service/implement/playerService.ts
  lib/src/service/implement/raceService.ts
  lib/src/service/interface/IPlayerService.ts
  lib/src/service/interface/IRaceService.ts
  lib/src/usecase/implement/calendarUseCase.ts
  lib/src/usecase/implement/playerUseCase.ts
  lib/src/usecase/implement/raceUseCase.ts
  src/controller/placeController.ts
  src/index.ts
  src/usecase/implement/raceUsecase.ts
  test/old/unittest/src/mock/repository/mockRaceRepository.ts
  test/old/unittest/src/mock/service/playerDataServiceMock.ts
  test/old/unittest/src/mock/service/raceDataServiceMock.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
  test/old/unittest/src/service/implement/raceService.test.ts
  test/utility/testSetupHelper.ts
Due: eslint --fix, prettier --write

feat: レースエンティティリスト取得機能を強化し、検索パラメータにstageおよびlocationを追加。レースタイプごとのフィルタリングを改善。
  src/controller/raceController.ts
  src/usecase/implement/raceUsecase.ts
Due: eslint --fix, prettier --write

chore: fetchRaceEntityListメソッドからデバッグ用のconsole.logを削除
  src/usecase/implement/raceUsecase.ts
Due: eslint --fix, prettier --write

feat: fetchRaceEntityListメソッドのフィルタリングロジックを改善し、検索リストの処理を簡素化。ステージリストのフィルタリングを一時的に無効化。
  src/usecase/implement/raceUsecase.ts
Due: eslint --fix, prettier --write

feat: カレンダーのレースリスト取得機能を改善し、レースタイプに"NAR"を追加。デバッグ用のconsole.logを追加して、レースエンティティの情報を出力。
  .github/workflows/place-schedule-cloudflare.yml
  src/usecase/implement/calendarUseCase.ts
Due: eslint --fix, prettier --write

refactor: race-schedule.ymlのレースタイプを「nar」と「keirin」から「keirin」のみに変更。googleCalendarRepository.tsでデバッグ出力をカレンダーデータのIDのみに修正。raceUsecase.tsでフィルタリング前後のログ出力を削除。
  .github/workflows/race-schedule.yml
  src/repository/implement/googleCalendarRepository.ts
  src/usecase/implement/raceUsecase.ts
Due: eslint --fix, prettier --write

Refactor PlaceEntity and related repositories to unify PlaceEntity type
  lib/src/repository/entity/placeEntity.ts
  lib/src/repository/entity/searchRaceFilterEntity.ts
  lib/src/repository/implement/placeRepositoryFromHtml.ts
  lib/src/repository/implement/placeRepositoryFromStorage.ts
  lib/src/repository/implement/raceRepositoryFromHtml/autoraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/narRaceRepositoryFromHtml.ts
  lib/src/repository/interface/IPlaceRepository.ts
  lib/src/repository/mock/mockPlaceRepositoryFromHtml.ts
  lib/src/service/implement/placeService.ts
  lib/src/service/implement/raceService.ts
  lib/src/service/interface/IPlaceService.ts
  lib/src/service/interface/IRaceService.ts
  lib/src/usecase/implement/placeUseCase.ts
  lib/src/usecase/interface/IPlaceUseCase.ts
  src/repository/entity/placeEntity.ts
  test/old/unittest/src/mock/common/baseCommonData.ts
  test/old/unittest/src/mock/repository/mockPlaceRepository.ts
  test/old/unittest/src/mock/service/placeServiceMock.ts
  test/old/unittest/src/repository/implement/placeRepositoryFromStorage.test.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromHtml.test.ts
  test/unittest/src/repository/entity/placeEntity.test.ts
Due: eslint --fix, prettier --write

Refactor RaceEntity and related repositories to unify race entity handling
  lib/src/repository/entity/raceEntity.ts
  lib/src/repository/implement/googleCalendarRepository.ts
  lib/src/repository/implement/horseRacingRaceRepositoryFromStorage.ts
  lib/src/repository/implement/mechanicalRacingRaceRepositoryFromStorage.ts
  lib/src/repository/implement/raceRepositoryFromHtml/autoraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/boatraceRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/jraRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/keirinRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/narRaceRepositoryFromHtml.ts
  lib/src/repository/implement/raceRepositoryFromHtml/overseasRaceRepositoryFromHtmlForAWS.ts
  lib/src/repository/interface/ICalendarRepository.ts
  lib/src/repository/interface/IRaceRepository.ts
  lib/src/repository/mock/mockHorseRacingRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  lib/src/service/implement/calendarService.ts
  lib/src/service/implement/raceService.ts
  lib/src/service/interface/ICalendarService.ts
  lib/src/service/interface/IRaceService.ts
  lib/src/usecase/implement/calendarUseCase.ts
  lib/src/usecase/implement/raceUseCase.ts
  lib/src/usecase/interface/IRaceUseCase.ts
  lib/src/utility/googleCalendar.ts
  src/repository/entity/raceEntity.ts
  test/old/unittest/src/mock/common/baseCommonData.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
  test/unittest/src/repository/entity/raceEntity.test.ts
Due: eslint --fix, prettier --write

refactor: 各レポジトリで未指定のデータを明示的にundefinedとして設定
  src/repository/implement/narRaceRepositoryFromHtml.ts
  src/repository/implement/overseasRaceRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryStorage.ts
  src/repository/implement/raceRepositoryStorage.ts
Due: eslint --fix, prettier --write

refactor: 不要なgetJSTDateのインポートと呼び出しを削除
  lib/src/repository/mock/mockMechanicalRacingRaceRepositoryFromHtml.ts
  lib/src/repository/mock/mockPlaceRepositoryFromHtml.ts
  test/old/unittest/src/repository/implement/raceRepositoryFromStorage.test.ts
Due: eslint --fix, prettier --write

refactor: PlaceServiceとRaceServiceの変数名を一貫性のあるものに変更
  src/usecase/implement/placeUsecase.ts
  src/usecase/implement/playerUsecase.ts
  src/usecase/implement/raceUsecase.ts
Due: eslint --fix, prettier --write

refactor: レースタイプリストを統合し、重複を排除するためにSetを使用
  test/old/unittest/src/mock/common/baseCommonData.ts
Due: eslint --fix, prettier --write

feat: PlaceRepositoryForStorageを実装し、fetchPlaceEntityListとupsertPlaceEntityListメソッドを追加
  src/repository/implement/placeRepositoryForStorage.ts
Due: eslint --fix, prettier --write

fix: PlaceRepositoryForStorageのインポートパスを修正
  src/index.ts
Due: eslint --fix, prettier --write

feat: 開催日データを管理するためのテーブルとリポジトリの実装
  migrations/create-held-day-table.sql
  src/repository/implement/placeRepositoryForStorage.ts
  src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

fix: 不要なconsole.logを削除
  src/repository/implement/placeRepositoryForStorage.ts
Due: eslint --fix, prettier --write

feat: JRAレースデータ取得のためのリポジトリとサービスの実装
  src/gateway/implement/raceDataHtmlGateway.ts
  src/index.ts
  src/repository/implement/jraRaceRepositoryFromHtml.ts
  src/repository/implement/placeRepositoryForStorage.ts
  src/repository/implement/raceRepositoryStorage.ts
  src/service/implement/raceService.ts
  src/usecase/implement/raceUsecase.ts
  src/utility/raceType.ts
Due: eslint --fix, prettier --write

feat: レースタイプにJRAを追加
  .github/workflows/place-schedule-cloudflare.yml
Due: none

feat: RaceRepositoryForStorageを新規作成し、JRAおよびNAR/OVERSEASレースデータの取得機能を実装。PlaceRepositoryForStorageのfetchPlaceEntityListメソッドをリファクタリングし、JRAレースデータの取得を簡素化。
  src/index.ts
  src/repository/implement/placeRepositoryForStorage.ts
  src/repository/implement/raceRepositoryForStorage.ts
Due: eslint --fix, prettier --write

feat: place_gradeテーブルの作成と関連するリポジトリの更新
  migrations/create-place-grade-table.sql
  src/repository/implement/placeRepositoryForStorage.ts
  src/repository/implement/placeRepositoryFromHtml.ts
Due: eslint --fix, prettier --write

feat: held_dayおよびplace_gradeテーブルへの挿入文の整形と可読性向上
  src/repository/implement/placeRepositoryForStorage.ts
Due: eslint --fix, prettier --write

feat: package.jsonおよびpnpm-lock.yamlからwranglerの依存関係を移動
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: raceTypeにKEIRINとAUTORACEを追加
  .github/workflows/place-schedule-cloudflare.yml
Due: none

feat: Cloudflare Workersのローカル環境設定を改善
  .github/actions/test/ita/overseas/action.yml
Due: none

feat: Node.js 24のセットアップを追加し、wrangler devの実行方法を明確化
  .github/actions/test/ita/overseas/action.yml
Due: none

feat: ITaテストの説明を更新し、Cloudflare WorkersとD1のセットアップ手順を改善
  .github/actions/test/ita/overseas/action.yml
Due: none

feat: Cloudflare Workersのセットアップを改善し、テストの初期状態確認を追加
  .github/actions/test/ita/overseas/action.yml
Due: none

chore(ci): add cloudflare composite action initial (install deps)
  .github/actions/test/ita/overseas/action.cloudflare.yml
Due: none

feat: Cloudflare用のITAテストアクションを追加
  .github/actions/test/ita/overseas-cloudflare/action.yml
  .github/workflows/pull_request.yml
Due: none

chore(ci): cloudflare action - create wrangler.toml, run d1 migrations local, start wrangler dev and health check
  .github/actions/test/ita/overseas-cloudflare/action.yml
Due: none

fix(ci): produce valid wrangler.toml (add env and database_id)
  .github/actions/test/ita/overseas-cloudflare/action.yml
Due: none

feat(ci): add curl GET/POST/GET checks for overseas race and calendar against wrangler dev
  .github/actions/test/ita/overseas-cloudflare/action.yml
Due: none

fix(ci): indent heredoc content for wrangler.toml generation
  .github/actions/test/ita/overseas-cloudflare/action.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{cjs,mjs,md,json})
